openapi: 3.1.0
info:
  title: Qeet ID — Federation API (OIDC/SAML/SCIM/LDAP/Social)
  version: 0.2.0
  description: |-
    Qeet ID identity platform — full HTTP surface.

    This document covers routes mounted by internal/bootstrap/router.go. internal/bootstrap/openapi_coverage_test.go walks the production mount helpers and fails when a mounted operation is undocumented, a documented operation is stale, or API-auth security declarations disagree with runtime classification. Launch-critical families carry fully-described request/response bodies; remaining admin CRUD routes carry accurate path/method/params/security with summarized bodies.

    Auth modes: `bearerAuth` (user/service JWT), `apiKeyAuth` (`Authorization: ApiKey <key>`), `scimBearer` (per-tenant SCIM token), `clientCredentials` (OAuth M2M), and `ssoCookie` (hosted-login SSO session).
servers:
  - url: https://api.id.qeet.in
    description: Production
  - url: https://api.id.staging.qeet.in
    description: Staging
  - url: http://localhost:4001
    description: Local (docker compose)
tags:
  - name: OIDC
    description: 'OpenID Connect / OAuth 2.0 provider: discovery, authorize, token, userinfo, clients, grants, revocation, introspection, RP-initiated logout, and machine-to-machine service principals.'
  - name: SAML
    description: SAML 2.0 SSO — Qeet as Service Provider (consuming external IdPs) and as Identity Provider (serving downstream SPs).
  - name: SCIM
    description: SCIM 2.0 user/group provisioning (per-tenant bearer token presented by the IdP) plus tenant-admin token management.
  - name: Social
    description: Social/OAuth identity-provider login and account linking.
  - name: LDAP
    description: LDAP / Active Directory connection management and bind authentication.
  - name: Directory
    description: Tenant-scoped directory connection inventory and synchronization metadata.
  - name: Admin Portal
    description: A unique, time-limited, capability-scoped link a tenant admin can hand to their own IT admin — no Qeet ID account required — to configure the tenant's SAML connection and/or roll its SCIM token directly.
paths:
  /v1/tenants/{tenantID}/directory/connections/{connectionID}/mappings:
    get:
      operationId: get_directory_connection_mappings
      summary: List effective profile mapping rules
      tags:
        - Directory
      security:
        - Bearer-Token: []
        - API-Key: []
      parameters:
        - name: tenantID
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: connectionID
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Rules and supported profile target types
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/DirectoryMapping'
                  targets:
                    type: object
                    additionalProperties:
                      type: string
        '401':
          description: Authentication required
        '403':
          description: Tenant mismatch or missing connection.read
        '404':
          description: Connection not found in this tenant
    post:
      operationId: post_directory_connection_mapping
      summary: Create a profile mapping
      description: Requires connection.write. Maximum 50 rules per connection and one enabled rule per target. Rules apply to SCIM user writes and LDAP JIT provisioning. Profile data is tenant-scoped; groups are profile labels, not role or group membership grants. Email mapping affects creation, not existing account email addresses. Secret sources and privilege targets are rejected.
      tags:
        - Directory
      security:
        - Bearer-Token: []
        - API-Key: []
      parameters:
        - name: tenantID
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: connectionID
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DirectoryMapping'
      responses:
        '201':
          description: Mapping created and audited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DirectoryMapping'
        '400':
          description: Invalid source
          target: null
          type or transform: null
        '401':
          description: Authentication required
        '403':
          description: Tenant mismatch or missing connection.write
        '404':
          description: Connection not found in this tenant
        '409':
          description: Duplicate enabled target or rule limit reached
  /v1/tenants/{tenantID}/directory/connections/{connectionID}/mappings/{mappingID}:
    put:
      operationId: put_directory_connection_mapping
      summary: Update a versioned profile mapping
      description: Requires connection.write. The current version is required to prevent lost updates. Audited in the same transaction.
      tags:
        - Directory
      security:
        - Bearer-Token: []
        - API-Key: []
      parameters:
        - name: tenantID
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: connectionID
          in: path
          required: true
          schema:
            type: string
        - name: mappingID
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DirectoryMapping'
      responses:
        '200':
          description: Updated mapping and incremented version
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DirectoryMapping'
        '400':
          description: Invalid mapping or missing version
        '401':
          description: Authentication required
        '403':
          description: Tenant mismatch or missing connection.write
        '404':
          description: Connection not found
        '409':
          description: Stale version
          missing mapping or duplicate enabled target: null
    delete:
      operationId: delete_directory_connection_mapping
      summary: Delete a profile mapping
      tags:
        - Directory
      security:
        - Bearer-Token: []
        - API-Key: []
      parameters:
        - name: tenantID
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: connectionID
          in: path
          required: true
          schema:
            type: string
        - name: mappingID
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Mapping removed and audited
        '401':
          description: Authentication required
        '403':
          description: Tenant mismatch or missing connection.write
        '404':
          description: Mapping not found in this tenant and connection
  /v1/tenants/{tenantID}/directory/connections/{connectionID}/mappings/preview:
    post:
      operationId: post_directory_connection_mappings_preview
      summary: Preview the saved mappings with source data
      description: Requires connection.read. Uses the provisioning engine, without persisting the source or changing users. Source input is capped at 64 KiB.
      tags:
        - Directory
      security:
        - Bearer-Token: []
        - API-Key: []
      parameters:
        - name: tenantID
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: connectionID
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - source
              properties:
                source:
                  type: object
                  additionalProperties: true
      responses:
        '200':
          description: Transformed profile, per-rule preview values and validation issues
          content:
            application/json:
              schema:
                type: object
                properties:
                  valid:
                    type: boolean
                  profile:
                    type: object
                    additionalProperties: true
                  values:
                    type: object
                    additionalProperties: true
                  issues:
                    type: array
                    items:
                      type: object
                      properties:
                        mapping_id:
                          type: string
                          format: uuid
                        field:
                          type: string
                        message:
                          type: string
        '400':
          description: Invalid source JSON
        '401':
          description: Authentication required
        '403':
          description: Tenant mismatch or missing connection.read
        '404':
          description: Connection not found
        '413':
          description: Source exceeds the supported size
  /v1/tenants/{tenantID}/directory/errors:
    get:
      operationId: get_v1_tenants_ByTenantID_directory_errors
      summary: List directory errors and remediation summary
      description: Requires connection.read. Only errors from the authenticated tenant are returned. Unknown affected-user counts are null, not inferred from request volume.
      tags:
        - Directory
      security:
        - Bearer-Token: []
        - API-Key: []
      parameters:
        - name: tenantID
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: days
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 90
            default: 7
        - name: connection_id
          in: query
          schema:
            type: string
            maxLength: 128
        - name: severity
          in: query
          schema:
            type: string
            enum:
              - warning
              - critical
        - name: resolution
          in: query
          schema:
            type: string
            enum:
              - open
              - resolved
              - retried
        - name: q
          in: query
          schema:
            type: string
            maxLength: 200
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 25
        - name: offset
          in: query
          schema:
            type: integer
            minimum: 0
            maximum: 100000
      responses:
        '200':
          description: Error page, categories, affected connections, and latest remediations
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/DirectoryEvent'
                  total:
                    type: integer
                  limit:
                    type: integer
                  offset:
                    type: integer
                  summary:
                    type: object
                    properties:
                      open:
                        type: integer
                      critical:
                        type: integer
                      warning:
                        type: integer
                      retried:
                        type: integer
                      impacted_users:
                        type:
                          - integer
                          - 'null'
                  categories:
                    type: array
                    items:
                      type: object
                      properties:
                        key:
                          type: string
                        count:
                          type: integer
                  connections:
                    type: array
                    items:
                      type: object
                      properties:
                        key:
                          type: string
                        count:
                          type: integer
                  remediations:
                    type: array
                    items:
                      $ref: '#/components/schemas/DirectoryEvent'
        '400':
          description: Invalid filters
        '401':
          description: Authentication required
        '403':
          description: Tenant mismatch or missing connection.read
  /v1/tenants/{tenantID}/directory/errors/{eventID}/resolve:
    post:
      operationId: post_v1_tenants_ByTenantID_directory_errors_ByEventID_resolve
      summary: Resolve a directory error
      description: Requires connection.write. Atomically closes an open error with an audit record. Does not retry its original operation.
      tags:
        - Directory
      security:
        - Bearer-Token: []
        - API-Key: []
      parameters:
        - name: tenantID
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: eventID
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Error resolved
          content:
            application/json:
              schema:
                type: object
                properties:
                  succeeded:
                    type: boolean
        '401':
          description: Authentication required
        '403':
          description: Tenant mismatch or missing connection.write
        '404':
          description: Error not found in this tenant
        '409':
          description: Error already closed
  /v1/tenants/{tenantID}/directory/errors/{eventID}/retry:
    post:
      operationId: post_v1_tenants_ByTenantID_directory_errors_ByEventID_retry
      summary: Retry a failed LDAP connection check
      description: Requires connection.write. Repeats only a failed manual LDAP bind check using current connection settings. SCIM pushes and sign-ins cannot be replayed because request bodies and credentials are never retained. Concurrent retries serialize and a successful retry closes the original error atomically with an audit record. Failed checks remain open.
      tags:
        - Directory
      security:
        - Bearer-Token: []
        - API-Key: []
      parameters:
        - name: tenantID
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: eventID
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Check completed; succeeded reports the actual outcome
          content:
            application/json:
              schema:
                type: object
                properties:
                  succeeded:
                    type: boolean
        '401':
          description: Authentication required
        '403':
          description: Tenant mismatch or missing connection.write
        '404':
          description: Error not found in this tenant
        '409':
          description: Operation cannot be retried or is already closed
  /v1/tenants/{tenantID}/directory/activity:
    get:
      operationId: get_v1_tenants_ByTenantID_directory_activity
      summary: List recorded directory operations
      description: Tenant-scoped SCIM writes and LDAP operations, newest first. Requires connection.read. Counts and durations describe observed operations, not provider scheduler jobs. Request bodies and credentials are never stored.
      tags:
        - Directory
      security:
        - Bearer-Token: []
        - API-Key: []
      parameters:
        - name: tenantID
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: days
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 90
            default: 7
        - name: connection_id
          in: query
          schema:
            type: string
            maxLength: 128
        - name: status
          in: query
          schema:
            type: string
            enum:
              - success
              - warning
              - failed
        - name: q
          in: query
          schema:
            type: string
            maxLength: 200
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 25
        - name: offset
          in: query
          schema:
            type: integer
            minimum: 0
            maximum: 100000
      responses:
        '200':
          description: Operation page, filtered summary, and daily UTC volumes
          content:
            application/json:
              schema:
                type: object
                required:
                  - items
                  - total
                  - limit
                  - offset
                  - summary
                  - volume
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/DirectoryEvent'
                  total:
                    type: integer
                  limit:
                    type: integer
                  offset:
                    type: integer
                  summary:
                    type: object
                    properties:
                      total:
                        type: integer
                      successful:
                        type: integer
                      warnings:
                        type: integer
                      failed:
                        type: integer
                      average_duration_ms:
                        type:
                          - integer
                          - 'null'
                  volume:
                    type: array
                    items:
                      type: object
                      properties:
                        date:
                          type: string
                          format: date
                        users:
                          type: integer
                        groups:
                          type: integer
        '400':
          description: Invalid filters
        '401':
          description: Authentication required
        '403':
          description: Tenant mismatch or missing connection.read
  /v1/tenants/{tenantID}/directory/alerts:
    post:
      operationId: post_v1_tenants_ByTenantID_directory_alerts
      summary: Create a directory failure alert
      description: Requires connection.write and a user principal. Creates an in-app alert for the caller when the failure threshold is reached within 15 minutes. Notifications are rate limited to once per alert per 15 minutes.
      tags:
        - Directory
      security:
        - Bearer-Token: []
        - API-Key: []
      parameters:
        - name: tenantID
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - threshold
              properties:
                name:
                  type: string
                  minLength: 1
                  maxLength: 100
                connection_id:
                  type:
                    - string
                    - 'null'
                threshold:
                  type: integer
                  minimum: 1
                  maximum: 100
      responses:
        '201':
          description: Alert created
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                  name:
                    type: string
                  connection_id:
                    type:
                      - string
                      - 'null'
                  threshold:
                    type: integer
                  enabled:
                    type: boolean
        '400':
          description: Invalid alert settings
        '401':
          description: Authenticated user required
        '403':
          description: Tenant mismatch or missing connection.write
        '404':
          description: Connection not found in this tenant
  /v1/tenants/{tenantID}/directory/connections:
    get:
      operationId: get_v1_tenants_ByTenantID_directory_connections
      summary: List directory connections
      description: Combines the tenant's configured SCIM endpoint and LDAP connections. Requires connection.read. Tenant scope is derived from the authenticated principal and must match the path. Credentials are never returned. Health is unknown until explicitly observed; last_activity_at is a request or login timestamp and is not evidence of a successful synchronization.
      tags:
        - Directory
      security:
        - Bearer-Token: []
        - API-Key: []
      parameters:
        - name: tenantID
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Directory connection inventory
          content:
            application/json:
              schema:
                type: object
                required:
                  - items
                properties:
                  items:
                    type: array
                    items:
                      type: object
                      required:
                        - id
                        - name
                        - reference
                        - type
                        - status
                        - health
                        - scope
                      properties:
                        id:
                          type: string
                        name:
                          type: string
                        reference:
                          type: string
                        type:
                          type: string
                          enum:
                            - scim
                            - ldap
                        status:
                          type: string
                          enum:
                            - configured
                            - active
                            - draft
                            - disabled
                        health:
                          type: string
                          enum:
                            - healthy
                            - warning
                            - failed
                            - unknown
                        environment:
                          type:
                            - string
                            - 'null'
                        scope:
                          type: string
                          enum:
                            - users-and-groups
                            - users-on-signin
                        created_at:
                          type:
                            - string
                            - 'null'
                          format: date-time
                        last_activity_at:
                          type:
                            - string
                            - 'null'
                          format: date-time
                        last_sync_at:
                          type:
                            - string
                            - 'null'
                          format: date-time
                        user_count:
                          type:
                            - integer
                            - 'null'
                          minimum: 0
                        group_count:
                          type:
                            - integer
                            - 'null'
                          minimum: 0
                        server_url:
                          type:
                            - string
                            - 'null'
        '400':
          description: Invalid tenant identifier
        '401':
          description: Authentication and tenant scope required
        '403':
          description: Tenant mismatch or missing connection.read permission
        '500':
          description: Directory inventory could not be loaded
  /.well-known/jwks.json:
    get:
      operationId: get_wellKnown_jwks_json
      summary: JWKS
      tags:
        - OIDC
      security: []
      responses:
        '200':
          description: JWK Set
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JWKS'
  /.well-known/openid-configuration:
    get:
      operationId: get_wellKnown_openid_configuration
      summary: OpenID configuration
      tags:
        - OIDC
      security: []
      responses:
        '200':
          description: Discovery metadata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OIDCDiscovery'
  /.well-known/oauth-protected-resource:
    get:
      operationId: get_wellKnown_oauth_protected_resource
      summary: Protected resource metadata
      description: Protected-resource metadata for MCP authorization-server compliance. Advertises the resource identifier, its authorization server(s), and the supported bearer methods and token-signing algorithms.
      tags:
        - OIDC
      security: []
      responses:
        '200':
          description: Protected-resource metadata
          content:
            application/json:
              schema:
                type: object
                properties:
                  resource:
                    type: string
                  authorization_servers:
                    type: array
                    items:
                      type: string
                  bearer_methods_supported:
                    type: array
                    items:
                      type: string
                  resource_signing_alg_values_supported:
                    type: array
                    items:
                      type: string
                  scopes_provided:
                    type: array
                    items:
                      type: string
                  resource_documentation:
                    type: string
  /ldap/{id}/authenticate:
    post:
      operationId: post_ldap_ById_authenticate
      summary: Authenticate (public)
      tags:
        - LDAP
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      security: []
      description: Response body summarized; accurate path/method/params/security. Enrich the body later.
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /oauth/introspect:
    post:
      operationId: post_oauth_introspect
      summary: Token introspect (RFC 7662)
      tags:
        - OIDC
      security:
        - OAuth2-Client-Credentials: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
                - token
              properties:
                token:
                  type: string
                token_type_hint:
                  type: string
      responses:
        '200':
          description: Introspection result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Introspection'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /oauth/revoke:
    post:
      operationId: post_oauth_revoke
      summary: Token revoke (RFC 7009)
      tags:
        - OIDC
      security:
        - OAuth2-Client-Credentials: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
                - token
              properties:
                token:
                  type: string
                token_type_hint:
                  type: string
                  enum:
                    - access_token
                    - refresh_token
      responses:
        '200':
          description: 'Revoked (RFC 7009: always 200 even for unknown tokens)'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /saml/acs/{id}:
    post:
      operationId: post_saml_acs_ById
      summary: '[acs] Assertion Consumer Service'
      tags:
        - SAML
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      security: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                SAMLResponse:
                  type: string
                RelayState:
                  type: string
      responses:
        '302':
          description: Signature-validated; redirect with a one-time login code
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /saml/exchange:
    post:
      operationId: post_saml_exchange
      summary: Exchange code (public)
      tags:
        - SAML
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - code
              properties:
                code:
                  type: string
      responses:
        '200':
          description: Token pair
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenPair'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /saml/idp/metadata:
    get:
      operationId: get_saml_idp_metadata
      summary: '[idp] IdP metadata'
      tags:
        - SAML
      security: []
      responses:
        '200':
          description: IdP metadata XML
          content:
            application/xml:
              schema:
                type: string
  /saml/idp/sso:
    get:
      operationId: get_saml_idp_sso
      summary: '[idp] IdP SSO (redirect binding)'
      tags:
        - SAML
      parameters:
        - in: query
          name: SAMLRequest
          schema:
            type: string
        - in: query
          name: RelayState
          schema:
            type: string
      security: []
      responses:
        '200':
          description: Auto-submit POST form back to the SP ACS with a signed SAMLResponse
          content:
            text/html:
              schema:
                type: string
        '302':
          description: Redirect to hosted login when no SSO session
        '400':
          $ref: '#/components/responses/BadRequest'
    post:
      operationId: post_saml_idp_sso
      summary: '[idp] IdP SSO (POST binding)'
      tags:
        - SAML
      security: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                SAMLRequest:
                  type: string
                RelayState:
                  type: string
      responses:
        '200':
          description: Auto-submit POST form back to the SP ACS with a signed SAMLResponse
          content:
            text/html:
              schema:
                type: string
        '302':
          description: Redirect to hosted login when no SSO session
        '400':
          $ref: '#/components/responses/BadRequest'
  /saml/login/{id}:
    get:
      operationId: get_saml_login_ById
      summary: Login redirect (public)
      tags:
        - SAML
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      security: []
      responses:
        '302':
          description: Redirect to the external IdP with an AuthnRequest
        '404':
          $ref: '#/components/responses/NotFound'
  /saml/metadata/{id}:
    get:
      operationId: get_saml_metadata_ById
      summary: SP metadata (public)
      tags:
        - SAML
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      security: []
      responses:
        '200':
          description: SP metadata XML
          content:
            application/xml:
              schema:
                type: string
        '404':
          $ref: '#/components/responses/NotFound'
  /scim/v2/Groups:
    get:
      operationId: get_scim_v2_Groups
      summary: '[scim] List groups'
      tags:
        - SCIM
      parameters:
        - in: query
          name: filter
          schema:
            type: string
        - in: query
          name: startIndex
          schema:
            type: integer
        - in: query
          name: count
          schema:
            type: integer
      security:
        - SCIM-Token: []
      responses:
        '200':
          description: ListResponse
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/SCIMListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: post_scim_v2_Groups
      summary: '[scim] Create group'
      tags:
        - SCIM
      security:
        - SCIM-Token: []
      requestBody:
        required: true
        content:
          application/scim+json:
            schema:
              $ref: '#/components/schemas/SCIMGroup'
      responses:
        '201':
          description: Group created
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/SCIMGroup'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/Conflict'
  /scim/v2/Groups/{id}:
    delete:
      operationId: delete_scim_v2_Groups_ById
      summary: '[scim] Delete group'
      tags:
        - SCIM
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      security:
        - SCIM-Token: []
      responses:
        '204':
          description: Deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    get:
      operationId: get_scim_v2_Groups_ById
      summary: '[scim] Get group'
      tags:
        - SCIM
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      security:
        - SCIM-Token: []
      responses:
        '200':
          description: Group
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/SCIMGroup'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      operationId: patch_scim_v2_Groups_ById
      summary: '[scim] Patch group'
      tags:
        - SCIM
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      security:
        - SCIM-Token: []
      requestBody:
        required: true
        content:
          application/scim+json:
            schema:
              $ref: '#/components/schemas/SCIMPatchOp'
      responses:
        '200':
          description: Patched
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/SCIMGroup'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      operationId: put_scim_v2_Groups_ById
      summary: '[scim] Replace group'
      tags:
        - SCIM
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      security:
        - SCIM-Token: []
      requestBody:
        required: true
        content:
          application/scim+json:
            schema:
              $ref: '#/components/schemas/SCIMGroup'
      responses:
        '200':
          description: Replaced
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/SCIMGroup'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /scim/v2/ResourceTypes:
    get:
      operationId: get_scim_v2_ResourceTypes
      summary: '[scim] ResourceTypes'
      tags:
        - SCIM
      security:
        - SCIM-Token: []
      responses:
        '200':
          description: SCIM metadata
          content:
            application/scim+json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
  /scim/v2/Schemas:
    get:
      operationId: get_scim_v2_Schemas
      summary: '[scim] Schemas'
      tags:
        - SCIM
      security:
        - SCIM-Token: []
      responses:
        '200':
          description: SCIM metadata
          content:
            application/scim+json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
  /scim/v2/ServiceProviderConfig:
    get:
      operationId: get_scim_v2_ServiceProviderConfig
      summary: '[scim] ServiceProviderConfig'
      tags:
        - SCIM
      security:
        - SCIM-Token: []
      responses:
        '200':
          description: SCIM metadata
          content:
            application/scim+json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
  /scim/v2/Users:
    get:
      operationId: get_scim_v2_Users
      summary: '[scim] List users'
      tags:
        - SCIM
      parameters:
        - in: query
          name: filter
          schema:
            type: string
          description: SCIM filter, e.g. userName eq "a@b.com"
        - in: query
          name: startIndex
          schema:
            type: integer
            minimum: 1
        - in: query
          name: count
          schema:
            type: integer
            minimum: 0
      security:
        - SCIM-Token: []
      responses:
        '200':
          description: ListResponse
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/SCIMListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: post_scim_v2_Users
      summary: '[scim] Create user'
      tags:
        - SCIM
      security:
        - SCIM-Token: []
      requestBody:
        required: true
        content:
          application/scim+json:
            schema:
              $ref: '#/components/schemas/SCIMUser'
          application/json:
            schema:
              $ref: '#/components/schemas/SCIMUser'
      responses:
        '201':
          description: User provisioned
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/SCIMUser'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/Conflict'
  /scim/v2/Users/{id}:
    delete:
      operationId: delete_scim_v2_Users_ById
      summary: '[scim] Delete user'
      tags:
        - SCIM
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      security:
        - SCIM-Token: []
      responses:
        '204':
          description: Deprovisioned
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    get:
      operationId: get_scim_v2_Users_ById
      summary: '[scim] Get user'
      tags:
        - SCIM
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      security:
        - SCIM-Token: []
      responses:
        '200':
          description: User
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/SCIMUser'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      operationId: patch_scim_v2_Users_ById
      summary: '[scim] Patch user (deprovision)'
      tags:
        - SCIM
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      security:
        - SCIM-Token: []
      requestBody:
        required: true
        content:
          application/scim+json:
            schema:
              $ref: '#/components/schemas/SCIMPatchOp'
      responses:
        '200':
          description: Patched
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/SCIMUser'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      operationId: put_scim_v2_Users_ById
      summary: '[scim] Replace user'
      tags:
        - SCIM
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      security:
        - SCIM-Token: []
      requestBody:
        required: true
        content:
          application/scim+json:
            schema:
              $ref: '#/components/schemas/SCIMUser'
      responses:
        '200':
          description: Replaced
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/SCIMUser'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/oauth/authorize:
    get:
      operationId: get_v1_oauth_authorize
      summary: Authorize
      tags:
        - OIDC
      parameters:
        - in: query
          name: client_id
          required: true
          schema:
            type: string
        - in: query
          name: redirect_uri
          required: true
          schema:
            type: string
            format: uri
        - in: query
          name: response_type
          required: true
          schema:
            type: string
            enum:
              - code
        - in: query
          name: scope
          schema:
            type: string
        - in: query
          name: state
          schema:
            type: string
        - in: query
          name: code_challenge
          schema:
            type: string
        - in: query
          name: code_challenge_method
          schema:
            type: string
            enum:
              - S256
        - in: query
          name: nonce
          schema:
            type: string
      security:
        - Session-Cookie: []
      responses:
        '302':
          description: Redirect to the hosted-login UI or back to the client with a code
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/oauth/authorize/decision:
    post:
      operationId: post_v1_oauth_authorize_decision
      summary: Authorize decision (consent)
      tags:
        - OIDC
      security:
        - Session-Cookie: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - request_id
                - decision
              properties:
                request_id:
                  type: string
                decision:
                  type: string
                  enum:
                    - allow
                    - deny
      responses:
        '302':
          description: Redirect back to the client with code or error
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/oauth/device:
    get:
      operationId: get_v1_oauth_device
      summary: Device verification context
      description: Returns the requesting client's display name and requested scopes for a pending device-authorization, looked up by user_code, so the hosted-login /device page can render the approval screen. SSO-cookie gated.
      tags:
        - OIDC
      parameters:
        - in: query
          name: user_code
          required: true
          schema:
            type: string
          description: The human-typed user_code (e.g. BCDF-GHJK).
      security:
        - Session-Cookie: []
      responses:
        '200':
          description: Device verification context
          content:
            application/json:
              schema:
                type: object
                properties:
                  client_name:
                    type: string
                  scopes:
                    type: array
                    items:
                      type: string
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/oauth/device/decision:
    post:
      operationId: post_v1_oauth_device_decision
      summary: Device decision (approve)
      description: The SSO-cookie-identified user approves or denies a pending device request identified by user_code. On approval the user (who must belong to the client's tenant) is bound and the device can complete its token poll.
      tags:
        - OIDC
      security:
        - Session-Cookie: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - user_code
                - approve
              properties:
                user_code:
                  type: string
                approve:
                  type: boolean
      responses:
        '200':
          description: Decision recorded
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - authorized
                      - denied
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
  /v1/oauth/device_authorization:
    post:
      operationId: post_v1_oauth_device_authorization
      summary: Device authorization
      description: Client-authenticated endpoint for input-constrained (CLI/TV/IoT) clients. Returns a (device_code, user_code) pair plus the verification URIs; the device then polls /v1/oauth/token-code with grant_type=urn:ietf:params:oauth:grant-type:device_code.
      tags:
        - OIDC
      security:
        - OAuth2-Client-Credentials: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
                - client_id
              properties:
                client_id:
                  type: string
                client_secret:
                  type: string
                scope:
                  type: string
      responses:
        '200':
          description: Device authorization response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceAuthorizationResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/oauth/bc-authorize:
    post:
      operationId: post_v1_oauth_bc_authorize
      summary: Backchannel authentication (CIBA, poll mode)
      description: OpenID CIBA §7. Client-authenticated endpoint for a client that already knows who the user is (login_hint, an email scoped to the client's tenant) — no browser redirect. Best-effort notifies the user (in-app), then returns auth_req_id; the client polls /v1/oauth/token-code with grant_type=urn:openid:params:grant-type:ciba while the user approves/denies via GET/POST /v1/oauth/bc-authorize/{pending,decision}.
      tags:
        - OIDC
      security:
        - OAuth2-Client-Credentials: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
                - client_id
                - login_hint
              properties:
                client_id:
                  type: string
                client_secret:
                  type: string
                login_hint:
                  type: string
                  format: email
                scope:
                  type: string
                binding_message:
                  type: string
                  description: Shown to the user in the consent notification (e.g. a transaction reference).
      responses:
        '200':
          description: Backchannel authentication response
          content:
            application/json:
              schema:
                type: object
                properties:
                  auth_req_id:
                    type: string
                  expires_in:
                    type: integer
                  interval:
                    type: integer
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/oauth/bc-authorize/pending:
    get:
      operationId: get_v1_oauth_bc_authorize_pending
      summary: List my pending CIBA requests
      description: The authenticated user's own still-pending, unexpired backchannel authentication requests — an "approve sign-in" view.
      tags:
        - OIDC
      security:
        - Bearer-Token: []
        - API-Key: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/oauth/bc-authorize/decision:
    post:
      operationId: post_v1_oauth_bc_authorize_decision
      summary: Approve or deny a pending CIBA request
      description: Records the authenticated user's decision on one of their own pending requests (the id from GET .../pending, not the raw auth_req_id).
      tags:
        - OIDC
      security:
        - Bearer-Token: []
        - API-Key: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - id
                - approve
              properties:
                id:
                  type: string
                  format: uuid
                approve:
                  type: boolean
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
  /v1/oauth/login-context:
    get:
      operationId: get_v1_oauth_login_context
      summary: Login context
      tags:
        - OIDC
      parameters:
        - in: query
          name: request_id
          required: true
          schema:
            type: string
      security:
        - Session-Cookie: []
      responses:
        '200':
          description: Hosted-login context (client name, scopes, branding)
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                properties:
                  branding:
                    type: object
                    nullable: true
                    properties:
                      logo_url:
                        type: string
                      primary_color:
                        type: string
                      secondary_color:
                        type: string
                      background_color:
                        type: string
                        description: Optional page background from tenant branding settings.
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/oauth/logout:
    get:
      operationId: get_v1_oauth_logout
      summary: RP-initiated logout
      tags:
        - OIDC
      parameters:
        - in: query
          name: id_token_hint
          schema:
            type: string
        - in: query
          name: post_logout_redirect_uri
          schema:
            type: string
            format: uri
        - in: query
          name: state
          schema:
            type: string
      security:
        - Session-Cookie: []
      responses:
        '302':
          description: Redirect to post_logout_redirect_uri
        '400':
          $ref: '#/components/responses/BadRequest'
    post:
      operationId: post_v1_oauth_logout
      summary: RP-initiated logout
      tags:
        - OIDC
      parameters:
        - in: query
          name: id_token_hint
          schema:
            type: string
        - in: query
          name: post_logout_redirect_uri
          schema:
            type: string
            format: uri
        - in: query
          name: state
          schema:
            type: string
      security:
        - Session-Cookie: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
        description: Request body summarized; see the handler for exact fields.
      responses:
        '302':
          description: Redirect to post_logout_redirect_uri
        '400':
          $ref: '#/components/responses/BadRequest'
  /v1/oauth/token:
    post:
      operationId: post_v1_oauth_token
      summary: OAuth token (client_credentials)
      tags:
        - OIDC
      security:
        - OAuth2-Client-Credentials: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
                - grant_type
              properties:
                grant_type:
                  type: string
                  enum:
                    - client_credentials
                client_id:
                  type: string
                client_secret:
                  type: string
                scope:
                  type: string
      responses:
        '200':
          description: Token response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthTokenResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/oauth/token-code:
    post:
      operationId: post_v1_oauth_token_code
      summary: Token (authorization_code)
      tags:
        - OIDC
      security:
        - OAuth2-Client-Credentials: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OAuthTokenRequest'
      responses:
        '200':
          description: Token response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthTokenResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/oauth/userinfo:
    get:
      operationId: get_v1_oauth_userinfo
      summary: UserInfo
      tags:
        - OIDC
      security:
        - Bearer-Token: []
        - API-Key: []
      responses:
        '200':
          description: UserInfo claims
          content:
            application/json:
              schema:
                type: object
                properties:
                  sub:
                    type: string
                    format: uuid
                  tenant_id:
                    type: string
                    format: uuid
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/oidc/clients:
    post:
      operationId: post_v1_oidc_clients
      summary: Register OIDC client
      tags:
        - OIDC
      security:
        - Bearer-Token: []
        - API-Key: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OIDCClientCreate'
      responses:
        '201':
          description: Client created (secret shown once)
          content:
            application/json:
              schema:
                type: object
                properties:
                  client:
                    $ref: '#/components/schemas/OIDCClient'
                  client_secret:
                    type: string
                  warning:
                    type: string
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/Unprocessable'
  /v1/oidc/clients/{id}:
    delete:
      operationId: delete_v1_oidc_clients_ById
      summary: Delete OIDC client (by scope)
      tags:
        - OIDC
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      security:
        - Bearer-Token: []
        - API-Key: []
      responses:
        '204':
          description: Client deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/oidc/signing-keys:
    get:
      operationId: get_v1_oidc_signing_keys
      summary: Signing keys metadata
      tags:
        - OIDC
      security:
        - Bearer-Token: []
        - API-Key: []
      responses:
        '200':
          description: Signing keys (candidate, active, and unexpired retired keys)
          content:
            application/json:
              schema:
                type: object
                properties:
                  keys:
                    type: array
                    items:
                      $ref: '#/components/schemas/SigningKey'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v1/service-principals:
    post:
      operationId: post_v1_service_principals
      summary: Create service principal
      tags:
        - OIDC
      security:
        - Bearer-Token: []
        - API-Key: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServicePrincipalCreate'
      responses:
        '201':
          description: Service principal created (secret shown once)
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/Unprocessable'
  /v1/service-principals/{id}:
    delete:
      operationId: delete_v1_service_principals_ById
      summary: Disable service principal
      tags:
        - OIDC
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      security:
        - Bearer-Token: []
        - API-Key: []
      description: Response body summarized; accurate path/method/params/security. Enrich the body later.
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /v1/social/exchange:
    post:
      operationId: post_v1_social_exchange
      summary: Exchange social code
      tags:
        - Social
      security: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
        description: Request body summarized; see the handler for exact fields.
      description: Response body summarized; accurate path/method/params/security. Enrich the body later.
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /v1/me/social/identities:
    get:
      operationId: get_v1_me_social_identities
      summary: List my connected social accounts
      description: The signed-in (tenant-less/console) user's connected social identities, recorded by platform sign-in and the link flow.
      tags:
        - Social
      security:
        - Bearer-Token: []
        - API-Key: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /v1/me/social/identities/{id}:
    delete:
      operationId: delete_v1_me_social_identities_ById
      summary: Unlink one of my connected social accounts
      tags:
        - Social
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      security:
        - Bearer-Token: []
        - API-Key: []
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /v1/social/{provider}/link/start:
    post:
      operationId: post_v1_social_ByProvider_link_start
      summary: Begin linking a provider to my account
      description: Authenticated "connect this provider" ceremony. Returns the provider authorize URL for the browser to navigate to; the callback attaches the identity to the caller — never creating or switching accounts, and refusing an identity already linked elsewhere (`social.already_linked`).
      tags:
        - Social
      parameters:
        - name: provider
          in: path
          required: true
          schema:
            type: string
      security:
        - Bearer-Token: []
        - API-Key: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  authorize_url:
                    type: string
                required:
                  - authorize_url
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /v1/social/identities/{id}:
    delete:
      operationId: delete_v1_social_identities_ById
      summary: Unlink identity
      tags:
        - Social
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      security:
        - Bearer-Token: []
        - API-Key: []
      description: Response body summarized; accurate path/method/params/security. Enrich the body later.
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /v1/social/providers:
    post:
      operationId: post_v1_social_providers
      summary: Upsert provider
      tags:
        - Social
      security:
        - Bearer-Token: []
        - API-Key: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
        description: Request body summarized; see the handler for exact fields.
      description: Response body summarized; accurate path/method/params/security. Enrich the body later.
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /v1/social/{provider}/callback:
    get:
      operationId: get_v1_social_ByProvIDer_callback
      summary: Social login callback
      tags:
        - Social
      parameters:
        - name: provider
          in: path
          required: true
          schema:
            type: string
      security: []
      description: Response body summarized; accurate path/method/params/security. Enrich the body later.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    post:
      operationId: post_v1_social_ByProvider_callback
      summary: Social login callback using form_post
      description: Sign in with Apple returns the authorization response as a bounded form POST. Successful callbacks redirect with a one-time Qeet login code.
      tags:
        - Social
      security: []
      parameters:
        - name: provider
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
                - state
                - code
              properties:
                state:
                  type: string
                code:
                  type: string
      responses:
        '302':
          description: Redirect to the hosted login or account application
        '400':
          $ref: '#/components/responses/BadRequest'
        '413':
          description: Form body too large
  /v1/social/platform/providers:
    get:
      operationId: get_v1_social_platform_providers
      summary: List enabled platform social providers
      tags:
        - Social
      security: []
      responses:
        '200':
          description: Enabled provider names
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
  /v1/social/{provider}/start:
    get:
      operationId: get_v1_social_ByProvIDer_start
      summary: Start social login
      tags:
        - Social
      parameters:
        - name: provider
          in: path
          required: true
          schema:
            type: string
      security: []
      description: Response body summarized; accurate path/method/params/security. Enrich the body later.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /v1/tenants/{tenantID}/ldap:
    get:
      operationId: get_v1_tenants_ByTenantID_ldap
      summary: List connections
      tags:
        - LDAP
      parameters:
        - name: tenantID
          in: path
          required: true
          schema:
            type: string
      security:
        - Bearer-Token: []
        - API-Key: []
      description: Response body summarized; accurate path/method/params/security. Enrich the body later.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    post:
      operationId: post_v1_tenants_ByTenantID_ldap
      summary: Create connection
      tags:
        - LDAP
      parameters:
        - name: tenantID
          in: path
          required: true
          schema:
            type: string
      security:
        - Bearer-Token: []
        - API-Key: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
        description: Request body summarized; see the handler for exact fields.
      description: Response body summarized; accurate path/method/params/security. Enrich the body later.
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /v1/tenants/{tenantID}/ldap/{id}:
    delete:
      operationId: delete_v1_tenants_ByTenantID_ldap_ById
      summary: Delete connection
      tags:
        - LDAP
      parameters:
        - name: tenantID
          in: path
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: string
      security:
        - Bearer-Token: []
        - API-Key: []
      description: Response body summarized; accurate path/method/params/security. Enrich the body later.
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    get:
      operationId: get_v1_tenants_ByTenantID_ldap_ById
      summary: Get connection
      tags:
        - LDAP
      parameters:
        - name: tenantID
          in: path
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: string
      security:
        - Bearer-Token: []
        - API-Key: []
      description: Response body summarized; accurate path/method/params/security. Enrich the body later.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    patch:
      operationId: patch_v1_tenants_ByTenantID_ldap_ById
      summary: Update connection
      tags:
        - LDAP
      parameters:
        - name: tenantID
          in: path
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: string
      security:
        - Bearer-Token: []
        - API-Key: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
        description: Request body summarized; see the handler for exact fields.
      description: Response body summarized; accurate path/method/params/security. Enrich the body later.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /v1/tenants/{tenantID}/ldap/{id}/test:
    post:
      operationId: post_v1_tenants_ByTenantID_ldap_ById_test
      summary: Test bind
      tags:
        - LDAP
      parameters:
        - name: tenantID
          in: path
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: string
      security:
        - Bearer-Token: []
        - API-Key: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
        description: Request body summarized; see the handler for exact fields.
      description: Response body summarized; accurate path/method/params/security. Enrich the body later.
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /v1/tenants/{tenantID}/oauth/devices:
    get:
      operationId: get_v1_tenants_ByTenantID_oauth_devices
      summary: List device authorizations
      tags:
        - OIDC
      parameters:
        - name: tenantID
          in: path
          required: true
          schema:
            type: string
            format: uuid
      security:
        - Bearer-Token: []
        - API-Key: []
      responses:
        '200':
          description: Device authorizations
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/OAuthDeviceAuthorization'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/tenants/{tenantID}/oauth/devices/{id}:
    delete:
      operationId: delete_v1_tenants_ByTenantID_oauth_devices_ById
      summary: Revoke device authorization
      tags:
        - OIDC
      parameters:
        - name: tenantID
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      security:
        - Bearer-Token: []
        - API-Key: []
      responses:
        '204':
          description: Device authorization revoked
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/tenants/{tenantID}/oidc/clients:
    get:
      operationId: get_v1_tenants_ByTenantID_oidc_clients
      summary: List OIDC clients
      tags:
        - OIDC
      parameters:
        - name: tenantID
          in: path
          required: true
          schema:
            type: string
            format: uuid
      security:
        - Bearer-Token: []
        - API-Key: []
      responses:
        '200':
          description: OIDC clients
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/OIDCClient'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      operationId: post_v1_tenants_ByTenantID_oidc_clients
      summary: Create OIDC client
      tags:
        - OIDC
      parameters:
        - name: tenantID
          in: path
          required: true
          schema:
            type: string
            format: uuid
      security:
        - Bearer-Token: []
        - API-Key: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OIDCClientCreate'
      responses:
        '201':
          description: Client created (secret shown once)
          content:
            application/json:
              schema:
                type: object
                properties:
                  client:
                    $ref: '#/components/schemas/OIDCClient'
                  client_secret:
                    type: string
                  warning:
                    type: string
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/Unprocessable'
  /v1/tenants/{tenantID}/oidc/clients/{id}:
    get:
      operationId: get_v1_tenants_ByTenantID_oidc_clients_ById
      summary: Get OIDC client
      tags:
        - OIDC
      parameters:
        - name: tenantID
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      security:
        - Bearer-Token: []
        - API-Key: []
      responses:
        '200':
          description: OIDC client
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OIDCClient'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      operationId: patch_v1_tenants_ByTenantID_oidc_clients_ById
      summary: Update OIDC client
      tags:
        - OIDC
      parameters:
        - name: tenantID
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      security:
        - Bearer-Token: []
        - API-Key: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OIDCClientUpdate'
      responses:
        '200':
          description: Updated OIDC client
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OIDCClient'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
    delete:
      operationId: delete_v1_tenants_ByTenantID_oidc_clients_ById
      summary: Delete OIDC client
      tags:
        - OIDC
      parameters:
        - name: tenantID
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      security:
        - Bearer-Token: []
        - API-Key: []
      responses:
        '204':
          description: Client deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/tenants/{tenantID}/oidc/clients/{id}/rotate-secret:
    post:
      operationId: post_v1_tenants_ByTenantID_oidc_clients_ById_rotate_secret
      summary: Rotate client secret
      tags:
        - OIDC
      parameters:
        - name: tenantID
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      security:
        - Bearer-Token: []
        - API-Key: []
      responses:
        '200':
          description: New client secret (shown once)
          content:
            application/json:
              schema:
                type: object
                properties:
                  client_secret:
                    type: string
                  warning:
                    type: string
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
  /v1/tenants/{tenantID}/oidc/clients/shadow-ai:
    get:
      operationId: get_v1_tenants_ByTenantID_oidc_clients_shadow_ai
      summary: List shadow-AI candidates
      description: OIDC clients whose grant_types include a machine grant type (client_credentials or token-exchange) that haven't been explicitly reviewed — the same "unmanaged non-human identity" risk the agents/service-accounts registries exist to close, surfaced for a client that picked up a machine grant type sideways. Ordered by live (active, unexpired, unrevoked) refresh-token count so clients actually in use surface first.
      tags:
        - OIDC
      parameters:
        - name: tenantID
          in: path
          required: true
          schema:
            type: string
            format: uuid
      security:
        - Bearer-Token: []
        - API-Key: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v1/tenants/{tenantID}/oidc/clients/{id}/review:
    post:
      operationId: post_v1_tenants_ByTenantID_oidc_clients_ById_review
      summary: Acknowledge a shadow-AI candidate
      description: Marks the client reviewed, attributed to the calling human principal — it drops off the shadow-AI list until/unless its grant_types change again.
      tags:
        - OIDC
      parameters:
        - name: tenantID
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      security:
        - Bearer-Token: []
        - API-Key: []
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/tenants/{tenantID}/oauth/grants:
    get:
      operationId: get_v1_tenants_ByTenantID_oauth_grants
      summary: List active grants
      tags:
        - OIDC
      parameters:
        - name: tenantID
          in: path
          required: true
          schema:
            type: string
      security:
        - Bearer-Token: []
        - API-Key: []
      responses:
        '200':
          description: Consent grants
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/tenants/{tenantID}/oauth/grants/{id}:
    delete:
      operationId: delete_v1_tenants_ByTenantID_oauth_grants_ById
      summary: Revoke grant
      tags:
        - OIDC
      parameters:
        - name: tenantID
          in: path
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: string
      security:
        - Bearer-Token: []
        - API-Key: []
      responses:
        '204':
          description: Grant revoked
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/tenants/{tenantID}/saml:
    get:
      operationId: get_v1_tenants_ByTenantID_saml
      summary: List connections
      tags:
        - SAML
      parameters:
        - name: tenantID
          in: path
          required: true
          schema:
            type: string
      security:
        - Bearer-Token: []
        - API-Key: []
      responses:
        '200':
          description: Connections
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/SAMLConnection'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    post:
      operationId: post_v1_tenants_ByTenantID_saml
      summary: Create connection
      tags:
        - SAML
      parameters:
        - name: tenantID
          in: path
          required: true
          schema:
            type: string
      security:
        - Bearer-Token: []
        - API-Key: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SAMLConnectionCreate'
      responses:
        '201':
          description: Connection created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SAMLConnection'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/Unprocessable'
  /v1/tenants/{tenantID}/saml-providers:
    get:
      operationId: get_v1_tenants_ByTenantID_saml_providers
      summary: List SAML SPs (IdP side)
      tags:
        - SAML
      parameters:
        - name: tenantID
          in: path
          required: true
          schema:
            type: string
      security:
        - Bearer-Token: []
        - API-Key: []
      responses:
        '200':
          description: Service providers
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/SAMLServiceProvider'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    post:
      operationId: post_v1_tenants_ByTenantID_saml_providers
      summary: Register SAML SP (IdP side)
      tags:
        - SAML
      parameters:
        - name: tenantID
          in: path
          required: true
          schema:
            type: string
      security:
        - Bearer-Token: []
        - API-Key: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SAMLServiceProviderCreate'
      responses:
        '201':
          description: SP registered
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SAMLServiceProvider'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/Unprocessable'
  /v1/tenants/{tenantID}/saml-providers/{id}:
    delete:
      operationId: delete_v1_tenants_ByTenantID_saml_providers_ById
      summary: Delete SAML SP
      tags:
        - SAML
      parameters:
        - name: tenantID
          in: path
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: string
      security:
        - Bearer-Token: []
        - API-Key: []
      responses:
        '204':
          description: Deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    get:
      operationId: get_v1_tenants_ByTenantID_saml_providers_ById
      summary: Get SAML SP
      tags:
        - SAML
      parameters:
        - name: tenantID
          in: path
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: string
      security:
        - Bearer-Token: []
        - API-Key: []
      responses:
        '200':
          description: Service provider
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SAMLServiceProvider'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      operationId: patch_v1_tenants_ByTenantID_saml_providers_ById
      summary: Update SAML SP
      tags:
        - SAML
      parameters:
        - name: tenantID
          in: path
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: string
      security:
        - Bearer-Token: []
        - API-Key: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SAMLServiceProviderCreate'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SAMLServiceProvider'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/tenants/{tenantID}/saml/{id}/test:
    post:
      operationId: post_v1_tenants_ByTenantID_saml_ById_test
      summary: Test SAML connection
      description: Runs offline checks (entity ID present, https SSO URL, the signing certificate parses and is in its validity window, email attribute mapped) and returns per-check results. No network I/O.
      tags:
        - SAML
      parameters:
        - name: tenantID
          in: path
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: string
      security:
        - Bearer-Token: []
        - API-Key: []
      responses:
        '200':
          description: Per-check preflight results
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/tenants/{tenantID}/saml/{id}:
    delete:
      operationId: delete_v1_tenants_ByTenantID_saml_ById
      summary: Delete connection
      tags:
        - SAML
      parameters:
        - name: tenantID
          in: path
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: string
      security:
        - Bearer-Token: []
        - API-Key: []
      responses:
        '204':
          description: Deleted
        '401':
[...]
