openapi: 3.1.0
info:
  title: Qeet ID API
  version: 0.2.0
  description: The complete Qeet ID identity platform — authentication & access, identity management, federation, developer tooling and operations — in one reference.
servers:
  - url: https://api.id.qeet.in
    description: Production
  - url: https://api.id.staging.qeet.in
    description: Staging
  - url: http://localhost:4001
    description: Local (docker compose)
tags:
  - name: Auth
    description: Login, signup, refresh, sessions, hosted-login SSO cookie.
  - name: RBAC
    description: Roles, permissions, assignments, and authorization checks.
  - name: MFA
    description: TOTP and OTP (email/SMS) second factors plus recovery codes.
  - name: Passkeys
    description: WebAuthn passkey registration and passwordless login.
  - name: Auth Policy
    description: Per-tenant password rules and allowed login methods.
  - name: Threats
  - name: ReBAC
  - name: AuthZEN
    description: OpenID AuthZEN core evaluation API — a spec-shaped facade over RBAC/ReBAC for external policy-enforcement points.
  - name: IP Rules
    description: Per-tenant IP allow/deny CIDR rules.
  - name: Policy
    description: Per-tenant security policy.
  - name: ABAC
    description: Attribute-based access control — policy store (CRUD) and the PDP evaluate endpoint.
  - name: Users
    description: User CRUD, password set, and soft-delete recycle bin (restore/purge).
  - name: Groups
    description: User groups and membership.
  - name: Invites
    description: Tenant member invitations.
  - name: Tenants
    description: Tenant (workspace) CRUD.
  - name: Branding
    description: Per-tenant hosted-login branding.
  - name: Verification
    description: Email and phone verification flows.
  - name: Domains
  - name: Directory
    description: Tenant-scoped directory connection inventory and synchronization metadata.
  - name: OIDC
    description: 'OpenID Connect / OAuth 2.0 provider: discovery, authorize, token, userinfo, clients, grants, revocation, introspection, RP-initiated logout, and machine-to-machine service principals.'
  - name: LDAP
    description: LDAP / Active Directory connection management and bind authentication.
  - name: SAML
    description: SAML 2.0 SSO — Qeet as Service Provider (consuming external IdPs) and as Identity Provider (serving downstream SPs).
  - name: SCIM
    description: SCIM 2.0 user/group provisioning (per-tenant bearer token presented by the IdP) plus tenant-admin token management.
  - name: Social
    description: Social/OAuth identity-provider login and account linking.
  - name: Admin Portal
    description: A unique, time-limited, capability-scoped link a tenant admin can hand to their own IT admin — no Qeet ID account required — to configure the tenant's SAML connection and/or roll its SCIM token directly.
  - name: API Keys
    description: Long-lived API keys for machine access.
  - name: Credentials
  - name: Agents
  - name: Auth Hooks
  - name: Secrets
    description: Per-tenant encrypted secrets vault.
  - name: Token Vault
  - name: Webhooks
    description: Outbound webhook endpoint management.
  - name: Activity
    description: Live Activity feed — a real-time SSE event stream and cursor-paginated history, both sourced from the hash-chained audit log and the NATS outbox. Tenant-scoped; requires audit.read. The SSE stream fans out domain events from the transactional outbox; reconnects replay missed events via Last-Event-ID.
  - name: Search
    description: Universal tenant-scoped fuzzy search across all resource types. Results are RBAC-gated per type — the caller only sees resources their role allows them to read.
  - name: Rate Limits
    description: Per-tenant rate-limit overrides (tenant / user / API-key buckets).
  - name: Health
    description: Liveness, readiness, and Prometheus metrics.
  - name: Billing
    description: Subscription plans, subscriptions, and invoices.
  - name: GDPR
    description: Right-to-erasure purge requests.
  - name: Analytics
    description: Per-tenant usage analytics.
  - name: Audit
    description: Append-only, hash-chained audit log query and integrity verification.
  - name: Entitlements
    description: A tenant's resolved plan capability set — boolean feature flags and numeric limits. Read by the console to gate the UI off the same source of truth the backend enforces on. Gated create endpoints return 402 with a stable code (billing.plan_limit / billing.upgrade_required) when a plan cap is reached.
  - name: Email Templates
    description: Per-tenant transactional email template overrides.
  - name: Log Sinks
  - name: Data Retention
    description: Per-tenant auto-purge of soft-deleted users.
  - name: Notifications
  - name: Compliance
    description: SOC 2 and ISO 27001 live evidence generation from real tenant system state.
  - name: Qeet AI
    description: AI qeetai inference service — streaming conversation turns, conversation management, and configuration status. Tool execution runs client-side under the user's own token (RBAC/RLS/audit inherited). API key is server-side only and never returned by any endpoint.
  - name: Sales
x-tagGroups:
  - name: Authentication & Access
    tags:
      - Auth
      - RBAC
      - MFA
      - Passkeys
      - Auth Policy
      - Threats
      - ReBAC
      - AuthZEN
      - IP Rules
      - Policy
      - ABAC
  - name: Identity Management
    tags:
      - Users
      - Groups
      - Invites
      - Tenants
      - Branding
      - Verification
      - Domains
  - name: Federation
    tags:
      - Directory
      - OIDC
      - LDAP
      - SAML
      - SCIM
      - Social
      - Admin Portal
  - name: Developer
    tags:
      - API Keys
      - Credentials
      - Agents
      - Auth Hooks
      - Secrets
      - Token Vault
      - Webhooks
  - name: Operations
    tags:
      - Activity
      - Search
      - Rate Limits
      - Health
      - Billing
      - GDPR
      - Analytics
      - Audit
      - Entitlements
      - Email Templates
      - Log Sinks
      - Data Retention
      - Notifications
      - Compliance
      - Qeet AI
      - Sales
paths:
  /v1/auth/forgot-password:
    post:
      operationId: post_v1_auth_forgot_password
      summary: Forgot password
      tags:
        - Auth
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
              properties:
                email:
                  type: string
                  format: email
      responses:
        '200':
          description: Accepted (always, to avoid account enumeration); returns a neutral confirmation message
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        '422':
          $ref: '#/components/responses/Unprocessable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /v1/auth/login:
    post:
      operationId: post_v1_auth_login
      summary: Sign in
      tags:
        - Auth
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: |
            Either a full token pair (no MFA) or, when the user has a second
            factor enrolled, an MFA challenge `{mfa_required:true, mfa_token,
            methods[]}` to complete at POST /v1/auth/mfa.
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/TokenPair'
                  - type: object
                    properties:
                      mfa_required:
                        type: boolean
                      mfa_token:
                        type: string
                      methods:
                        type: array
                        items:
                          type: string
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /v1/auth/mfa:
    post:
      operationId: post_v1_auth_mfa
      summary: Complete MFA login
      description: Exchanges the mfa_token from /v1/auth/login plus a TOTP or recovery code for a token pair.
      tags:
        - Auth
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - mfa_token
                - code
              properties:
                mfa_token:
                  type: string
                code:
                  type: string
                  description: A TOTP code or a one-time recovery code.
      responses:
        '200':
          description: Second factor verified; token pair issued
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenPair'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/Unprocessable'
  /v1/auth/logout:
    post:
      operationId: post_v1_auth_logout
      summary: Logout
      tags:
        - Auth
      security:
        - Bearer-Token: []
        - API-Key: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
        description: Request body summarized; see the handler for exact fields.
      responses:
        '200':
          description: Signed out
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/auth/magic-link/consume:
    post:
      operationId: post_v1_auth_magic_link_consume
      summary: Magic link consume
      tags:
        - Auth
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - token
              properties:
                token:
                  type: string
      responses:
        '200':
          description: Token pair
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenPair'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/Unprocessable'
  /v1/auth/magic-link/start:
    post:
      operationId: post_v1_auth_magic_link_start
      summary: Magic link start
      tags:
        - Auth
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
              properties:
                email:
                  type: string
                  format: email
      responses:
        '200':
          description: Accepted (always, to avoid account enumeration); returns a neutral confirmation message
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        '422':
          $ref: '#/components/responses/Unprocessable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /v1/auth/me:
    get:
      operationId: get_v1_auth_me
      summary: Me
      tags:
        - Auth
      security:
        - Bearer-Token: []
        - API-Key: []
      responses:
        '200':
          description: Current principal
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Principal'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/auth/refresh:
    post:
      operationId: post_v1_auth_refresh
      summary: Refresh
      tags:
        - Auth
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefreshRequest'
      responses:
        '200':
          description: Rotated token pair
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenPair'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/Unprocessable'
  /v1/auth/reset-password:
    post:
      operationId: post_v1_auth_reset_password
      summary: Reset password
      tags:
        - Auth
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - token
                - new_password
              properties:
                token:
                  type: string
                new_password:
                  type: string
                  minLength: 8
                  maxLength: 256
      responses:
        '200':
          description: Password reset; returns a confirmation message
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/Unprocessable'
  /v1/auth/session:
    delete:
      operationId: delete_v1_auth_session
      summary: Destroy SSO session (logout)
      tags:
        - Auth
      security: []
      responses:
        '204':
          description: Session revoked, cookie cleared
    post:
      operationId: post_v1_auth_session
      summary: Create SSO session
      tags:
        - Auth
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: |
            Either the SSO cookie was set (`{user_id}`) or, when the user has a
            second factor enrolled, an MFA challenge `{mfa_required:true,
            mfa_token, methods[]}` to complete at POST /v1/auth/session/mfa
            (no cookie is set until then).
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    properties:
                      user_id:
                        type: string
                        format: uuid
                  - type: object
                    properties:
                      mfa_required:
                        type: boolean
                      mfa_token:
                        type: string
                      methods:
                        type: array
                        items:
                          type: string
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/Unprocessable'
  /v1/auth/session/mfa:
    post:
      operationId: post_v1_auth_session_mfa
      summary: Complete SSO session MFA
      description: Exchanges the mfa_token from POST /v1/auth/session plus a TOTP or recovery code for the SSO cookie (qe_ls).
      tags:
        - Auth
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - mfa_token
                - code
              properties:
                mfa_token:
                  type: string
                code:
                  type: string
                  description: A TOTP code or a one-time recovery code.
                remember:
                  type: boolean
                  description: Trust this device so future logins can skip the second factor (adaptive MFA). Honoured only when the tenant has enabled remember-device; sets the qe_td cookie.
      responses:
        '200':
          description: Second factor verified; SSO cookie set
          content:
            application/json:
              schema:
                type: object
                properties:
                  user_id:
                    type: string
                    format: uuid
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/Unprocessable'
  /v1/auth/register:
    post:
      operationId: post_v1_auth_register
      summary: Register (hosted, B2C)
      description: |
        Creates a new end-user in the client's tenant and sets the SSO cookie
        (qe_ls) so they continue into the OAuth authorize flow. Gated by the
        tenant's self_registration_enabled policy (403 when disabled).
        Enumeration-safe: an existing email returns a neutral 422.
      tags:
        - Auth
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - tenant_id
                - email
                - password
              properties:
                tenant_id:
                  type: string
                  format: uuid
                email:
                  type: string
                  format: email
                password:
                  type: string
                display_name:
                  type: string
      responses:
        '201':
          description: User created and SSO cookie set
          content:
            application/json:
              schema:
                type: object
                properties:
                  user_id:
                    type: string
                    format: uuid
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /v1/auth/password:
    get:
      operationId: get_v1_auth_password
      summary: Password status
      description: Reports whether the caller has a password set, so the account UI can offer "set a password" (social/passkey accounts) vs "change password".
      tags:
        - Auth
      security:
        - Bearer-Token: []
        - API-Key: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  has_password:
                    type: boolean
                required:
                  - has_password
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: post_v1_auth_password
      summary: Change or set my password
      description: Rotates (or sets) the signed-in user's password. current_password is required only when one is already set; a social/passkey account may set one by omitting it. Other sessions are revoked. The new password is checked against the breached-password list. Self-service and tenant-independent.
      tags:
        - Auth
      security:
        - Bearer-Token: []
        - API-Key: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                current_password:
                  type: string
                new_password:
                  type: string
                  minLength: 8
                  maxLength: 256
              required:
                - current_password
                - new_password
      responses:
        '200':
          description: Password updated
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /v1/auth/trusted-devices/count:
    get:
      operationId: get_v1_auth_trusted_devices_count
      summary: Count trusted devices
      tags:
        - Auth
      description: Number of live trusted devices in the caller's tenant, as used by the Authentication overview. Counts devices, not users, and excludes expired rows — an expired device is no longer trusted. Tenant scope comes from the principal, never a parameter. Returns 0 for tenants that have not enabled adaptive MFA (`remember_device_enabled`), since nothing writes a trusted device until then.
      security:
        - Bearer-Token: []
        - API-Key: []
      responses:
        '200':
          description: Live trusted-device count
          content:
            application/json:
              schema:
                type: object
                required:
                  - devices
                  - users
                properties:
                  devices:
                    type: integer
                    minimum: 0
                    description: Live trusted devices (one browser cookie = one device).
                  users:
                    type: integer
                    minimum: 0
                    description: Distinct people those devices belong to.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /v1/auth/sessions:
    get:
      operationId: get_v1_auth_sessions
      summary: List sessions
      tags:
        - Auth
      parameters:
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
        - name: cursor
          in: query
          required: false
          schema:
            type: string
            format: uuid
          description: Opaque owner-scoped cursor returned by the previous page.
      security:
        - Bearer-Token: []
        - API-Key: []
      responses:
        '200':
          description: Active sessions
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Session'
                  next_cursor:
                    type: string
                    description: Opaque owner-scoped cursor for the next page; omitted on the final page.
                  has_more:
                    type: boolean
                  total:
                    type: integer
                    minimum: 0
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/auth/sessions/{id}:
    delete:
      operationId: delete_v1_auth_sessions_ById
      summary: Revoke session
      tags:
        - Auth
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      security:
        - Bearer-Token: []
        - API-Key: []
      responses:
        '200':
          description: Session revoked
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/auth/signup:
    post:
      operationId: post_v1_auth_signup
      summary: Sign up
      tags:
        - Auth
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignupRequest'
      responses:
        '201':
          description: Created; token pair + user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignupResponse'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /v1/auth/switch-tenant:
    post:
      operationId: post_v1_auth_switch_tenant
      summary: Switch tenant
      tags:
        - Auth
      security:
        - Bearer-Token: []
        - API-Key: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - tenant_id
              properties:
                tenant_id:
                  type: string
                  format: uuid
      responses:
        '200':
          description: Token pair scoped to the target tenant
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenPair'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/Unprocessable'
  /v1/check:
    get:
      operationId: get_v1_check
      summary: Permission check
      tags:
        - RBAC
      parameters:
        - in: query
          name: user_id
          required: true
          schema:
            type: string
            format: uuid
        - in: query
          name: tenant_id
          required: true
          schema:
            type: string
            format: uuid
        - in: query
          name: permission
          required: true
          schema:
            type: string
        - in: query
          name: explain
          required: false
          description: When "true", return the full authorization trace (allowed, the grant path(s), and a reason on denial) instead of the bare {allowed} object.
          schema:
            type: string
            enum:
              - 'true'
      security:
        - Bearer-Token: []
        - API-Key: []
      responses:
        '200':
          description: Decision. The default shape is {allowed}. With explain=true the response is the Explanation object (allowed, paths, reason).
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    properties:
                      allowed:
                        type: boolean
                  - $ref: '#/components/schemas/AuthzExplanation'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/mfa/otp/factors:
    get:
      operationId: get_v1_mfa_otp_factors
      summary: List OTP factors
      tags:
        - MFA
      security:
        - Bearer-Token: []
        - API-Key: []
      description: Response body summarized; accurate path/method/params/security. Enrich the body later.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    post:
      operationId: post_v1_mfa_otp_factors
      summary: Add OTP factor
      tags:
        - MFA
      security:
        - Bearer-Token: []
        - API-Key: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
        description: Request body summarized; see the handler for exact fields.
      description: Response body summarized; accurate path/method/params/security. Enrich the body later.
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /v1/mfa/otp/factors/{id}:
    delete:
      operationId: delete_v1_mfa_otp_factors_ById
      summary: Delete OTP factor
      tags:
        - MFA
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      security:
        - Bearer-Token: []
        - API-Key: []
      description: Response body summarized; accurate path/method/params/security. Enrich the body later.
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /v1/mfa/otp/factors/{id}/challenge:
    post:
      operationId: post_v1_mfa_otp_factors_ById_challenge
      summary: Challenge OTP factor
      tags:
        - MFA
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      security:
        - Bearer-Token: []
        - API-Key: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
        description: Request body summarized; see the handler for exact fields.
      description: Response body summarized; accurate path/method/params/security. Enrich the body later.
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /v1/mfa/otp/factors/{id}/confirm:
    post:
      operationId: post_v1_mfa_otp_factors_ById_confirm
      summary: Confirm OTP factor
      tags:
        - MFA
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      security:
        - Bearer-Token: []
        - API-Key: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
        description: Request body summarized; see the handler for exact fields.
      description: Response body summarized; accurate path/method/params/security. Enrich the body later.
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /v1/mfa/otp/verify:
    post:
      operationId: post_v1_mfa_otp_verify
      summary: Verify OTP
      tags:
        - MFA
      security:
        - Bearer-Token: []
        - API-Key: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
        description: Request body summarized; see the handler for exact fields.
      description: Response body summarized; accurate path/method/params/security. Enrich the body later.
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /v1/mfa/recovery-codes:
    get:
      operationId: get_v1_mfa_recovery_codes
      summary: Recovery codes status
      tags:
        - MFA
      security:
        - Bearer-Token: []
        - API-Key: []
      description: Response body summarized; accurate path/method/params/security. Enrich the body later.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /v1/mfa/recovery-codes/regenerate:
    post:
      operationId: post_v1_mfa_recovery_codes_regenerate
      summary: Regenerate recovery codes (step-up)
      tags:
        - MFA
      security:
        - Bearer-Token: []
        - API-Key: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
        description: Request body summarized; see the handler for exact fields.
      description: Response body summarized; accurate path/method/params/security. Enrich the body later.
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /v1/mfa/step-up/status:
    get:
      operationId: get_v1_mfa_step_up_status
      summary: Step-up status
      tags:
        - MFA
      security:
        - Bearer-Token: []
        - API-Key: []
      description: Reports whether the principal completed a second-factor verification within the step-up window, and when.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /v1/mfa/totp:
    get:
      operationId: get_v1_mfa_totp
      summary: TOTP status
      tags:
        - MFA
      security:
        - Bearer-Token: []
        - API-Key: []
      description: Reports whether the principal has a confirmed TOTP factor, so the account UI can show an active state instead of re-offering enrollment.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  enrolled:
                    type: boolean
                required:
                  - enrolled
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    delete:
      operationId: delete_v1_mfa_totp
      summary: Disable TOTP
      tags:
        - MFA
      security:
        - Bearer-Token: []
        - API-Key: []
      description: Response body summarized; accurate path/method/params/security. Enrich the body later.
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /v1/mfa/totp/enroll/confirm:
    post:
      operationId: post_v1_mfa_totp_enroll_confirm
      summary: Confirm TOTP enrollment
      tags:
        - MFA
      security:
        - Bearer-Token: []
        - API-Key: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
        description: Request body summarized; see the handler for exact fields.
      description: Response body summarized; accurate path/method/params/security. Enrich the body later.
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /v1/mfa/totp/enroll/start:
    post:
      operationId: post_v1_mfa_totp_enroll_start
      summary: Start TOTP enrollment
      tags:
        - MFA
      security:
        - Bearer-Token: []
        - API-Key: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
        description: Request body summarized; see the handler for exact fields.
      description: Response body summarized; accurate path/method/params/security. Enrich the body later.
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /v1/mfa/totp/verify:
    post:
      operationId: post_v1_mfa_totp_verify
      summary: Verify TOTP
      tags:
        - MFA
      security:
        - Bearer-Token: []
        - API-Key: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
        description: Request body summarized; see the handler for exact fields.
      description: Response body summarized; accurate path/method/params/security. Enrich the body later.
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /v1/mfa/webauthn/challenge:
    post:
      operationId: post_v1_mfa_webauthn_challenge
      summary: WebAuthn 2FA challenge
      tags:
        - MFA
      security:
        - Bearer-Token: []
        - API-Key: []
      description: Starts a WebAuthn assertion ceremony over the authenticated user's existing passkey credentials, used as a second factor (no token is issued).
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '501':
          description: WebAuthn second factor not enabled
  /v1/mfa/webauthn/verify:
    post:
      operationId: post_v1_mfa_webauthn_verify
      summary: WebAuthn 2FA verify
      tags:
        - MFA
      security:
        - Bearer-Token: []
        - API-Key: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
        description: Request body summarized; see the handler for exact fields.
      description: Verifies a WebAuthn assertion against the user's registered credentials and records a step-up verification on success.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '501':
          description: WebAuthn second factor not enabled
  /v1/passkeys:
    get:
      operationId: get_v1_passkeys
      summary: List passkeys
      tags:
        - Passkeys
      security:
        - Bearer-Token: []
        - API-Key: []
      description: Response body summarized; accurate path/method/params/security. Enrich the body later.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /v1/passkeys/login/begin:
    post:
      operationId: post_v1_passkeys_login_begin
      summary: Login begin
      tags:
        - Passkeys
      security: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
        description: Request body summarized; see the handler for exact fields.
      description: Response body summarized; accurate path/method/params/security. Enrich the body later.
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /v1/passkeys/login/finish:
    post:
      operationId: post_v1_passkeys_login_finish
      summary: Login finish
      tags:
        - Passkeys
      security: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
        description: Request body summarized; see the handler for exact fields.
      description: Response body summarized; accurate path/method/params/security. Enrich the body later.
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /v1/passkeys/register/begin:
    post:
      operationId: post_v1_passkeys_register_begin
      summary: Register begin
      tags:
        - Passkeys
      security:
        - Bearer-Token: []
        - API-Key: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
        description: Request body summarized; see the handler for exact fields.
      description: Response body summarized; accurate path/method/params/security. Enrich the body later.
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /v1/passkeys/register/finish:
    post:
      operationId: post_v1_passkeys_register_finish
      summary: Register finish
      tags:
        - Passkeys
      security:
        - Bearer-Token: []
        - API-Key: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
        description: Request body summarized; see the handler for exact fields.
      description: Response body summarized; accurate path/method/params/security. Enrich the body later.
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /v1/signup/passkey/begin:
    post:
      operationId: post_v1_signup_passkey_begin
      summary: Passkey-first signup begin (tenant-less)
      tags:
        - Passkeys
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
              properties:
                email:
                  type: string
                display_name:
                  type: string
        description: Starts a passwordless counterpart to POST /auth/signup — no password is created.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '422':
          $ref: '#/components/responses/Unprocessable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /v1/signup/passkey/finish:
    post:
      operationId: post_v1_signup_passkey_finish
      summary: Passkey-first signup finish (tenant-less)
      tags:
        - Passkeys
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - session_id
                - credential
              properties:
                session_id:
                  type: string
                credential:
                  type: object
                  additionalProperties: true
                name:
                  type: string
        description: Verifies the attestation, creates the tenant-less user with the passkey as its founding credential, and returns a token pair.
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '422':
          $ref: '#/components/responses/Unprocessable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /v1/register/passkey/begin:
    post:
      operationId: post_v1_register_passkey_begin
      summary: Passkey-first signup begin (tenant-scoped hosted signup)
      tags:
        - Passkeys
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - tenant_id
                - email
              properties:
                tenant_id:
                  type: string
                email:
                  type: string
                display_name:
                  type: string
        description: Starts a passwordless counterpart to POST /auth/register — gated by the tenant's self_registration_enabled policy.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /v1/register/passkey/finish:
    post:
      operationId: post_v1_register_passkey_finish
      summary: Passkey-first signup finish (tenant-scoped hosted signup)
      tags:
        - Passkeys
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - session_id
                - credential
              properties:
                session_id:
                  type: string
                credential:
                  type: object
                  additionalProperties: true
                name:
                  type: string
        description: Verifies the attestation, creates the user in the ceremony's tenant, and sets the hosted-login SSO cookie.
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '422':
          $ref: '#/components/responses/Unprocessable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /v1/passkeys/{id}:
    delete:
      operationId: delete_v1_passkeys_ById
      summary: Delete passkey
      tags:
        - Passkeys
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      security:
        - Bearer-Token: []
        - API-Key: []
      description: Response body summarized; accurate path/method/params/security. Enrich the body later.
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /v1/permissions:
    get:
      operationId: get_v1_permissions
      summary: List permissions
      tags:
        - RBAC
      security:
        - Bearer-Token: []
        - API-Key: []
      responses:
        '200':
          description: Permissions
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Permission'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/roles/{roleID}/permissions:
    get:
      operationId: get_v1_roles_ByRoleID_permissions
      summary: List permissions granted to a role
      tags:
        - RBAC
      parameters:
        - name: roleID
          in: path
          required: true
          schema:
            type: string
      security:
        - Bearer-Token: []
        - API-Key: []
      responses:
        '200':
          description: Permissions granted to the role
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Permission'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v1/roles/{roleID}/permissions/{permID}:
    delete:
      operationId: delete_v1_roles_ByRoleID_permissions_ByPermID
      summary: Revoke permission from role
      tags:
        - RBAC
      parameters:
        - name: roleID
          in: path
          required: true
          schema:
            type: string
        - name: permID
          in: path
          required: true
          schema:
            type: string
      security:
        - Bearer-Token: []
        - API-Key: []
      responses:
        '204':
          description: Revoked
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      operationId: post_v1_roles_ByRoleID_permissions_ByPermID
      summary: Grant permission to role
      tags:
        - RBAC
      parameters:
        - name: roleID
          in: path
          required: true
          schema:
            type: string
        - name: permID
          in: path
          required: true
          schema:
            type: string
      security:
        - Bearer-Token: []
        - API-Key: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
        description: Request body summarized; see the handler for exact fields.
      responses:
        '204':
          description: Granted
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/tenants/{tenantID}/auth-policy:
    get:
      operationId: get_v1_tenants_ByTenantID_auth_policy
      summary: Get auth policy
      tags:
        - Auth Policy
      parameters:
        - name: tenantID
          in: path
          required: true
          schema:
            type: string
      security:
        - Bearer-Token: []
        - API-Key: []
      description: Response body summarized; accurate path/method/params/security. Enrich the body later.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    put:
      operationId: put_v1_tenants_ByTenantID_auth_policy
      summary: Update auth policy
      tags:
        - Auth Policy
      parameters:
        - name: tenantID
          in: path
          required: true
          schema:
            type: string
      security:
        - Bearer-Token: []
        - API-Key: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
        description: Request body summarized; see the handler for exact fields.
      description: Response body summarized; accurate path/method/params/security. Enrich the body later.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /v1/tenants/{tenantID}/groups/{groupID}/roles:
    get:
      operationId: get_v1_tenants_ByTenantID_groups_ByGroupID_roles
      summary: List group roles
      tags:
        - RBAC
      parameters:
        - name: tenantID
          in: path
          required: true
          schema:
            type: string
        - name: groupID
          in: path
          required: true
          schema:
            type: string
      security:
        - Bearer-Token: []
        - API-Key: []
      responses:
        '200':
          description: Roles granted to the group
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/GroupRole'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v1/tenants/{tenantID}/groups/{groupID}/roles/{roleID}:
    post:
      operationId: post_v1_tenants_ByTenantID_groups_ByGroupID_roles_ByRoleID
      summary: Grant role to group
      description: Grant a role to a group. Every member of the group inherits the role's permissions (effective permissions = direct user grants UNION group-derived grants). The role and group must belong to the tenant.
      tags:
        - RBAC
      parameters:
        - name: tenantID
          in: path
          required: true
          schema:
            type: string
        - name: groupID
          in: path
          required: true
          schema:
            type: string
        - name: roleID
          in: path
          required: true
          schema:
            type: string
      security:
        - Bearer-Token: []
        - API-Key: []
      responses:
        '204':
          description: Granted
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: delete_v1_tenants_ByTenantID_groups_ByGroupID_roles_ByRoleID
      summary: Revoke role from group
      tags:
        - RBAC
      parameters:
        - name: tenantID
          in: path
          required: true
          schema:
            type: string
        - name: groupID
          in: path
          required: true
          schema:
            type: string
        - name: roleID
          in: path
          required: true
          schema:
            type: string
      security:
        - Bearer-Token: []
        - API-Key: []
      responses:
        '204':
          description: Revoked
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/tenants/{tenantID}/security/bots:
    get:
      operationId: get_v1_tenants_ByTenantID_security_bots
      summary: Bot telemetry
      tags:
        - Threats
      parameters:
        - name: tenantID
          in: path
          required: true
          schema:
            type: string
      security:
        - Bearer-Token: []
        - API-Key: []
      responses:
        '200':
          description: Recent bot verdicts and stats
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v1/tenants/{tenantID}/security/risk-settings:
    get:
      operationId: get_v1_tenants_ByTenantID_security_risk_settings
      summary: Get risk settings
      description: 'Returns the medium/high risk-score thresholds, the level at which step-up MFA is forced even for a trusted device, and the two additive adaptive-MFA signals layered on top: impossible-travel (a login from a new country sooner than min_travel_hours after the last one) and device reputation (a login from a browser+OS combination never seen before for this user). Both are independently toggled and off by default.'
      tags:
        - Threats
      parameters:
        - name: tenantID
          in: path
          required: true
          schema:
            type: string
      security:
        - Bearer-Token: []
        - API-Key: []
      responses:
        '200':
          description: Risk settings
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RiskSettings'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    put:
      operationId: put_v1_tenants_ByTenantID_security_risk_settings
      summary: Update risk settings
      tags:
        - Threats
      parameters:
        - name: tenantID
          in: path
          required: true
          schema:
            type: string
      security:
        - Bearer-Token: []
        - API-Key: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RiskSettings'
      responses:
        '200':
          description: Updated settings
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/Unprocessable'
  /v1/tenants/{tenantID}/security/bots/settings:
    get:
      operationId: get_v1_tenants_ByTenantID_security_bots_settings
      summary: Get bot settings
      tags:
        - Threats
      parameters:
        - name: tenantID
          in: path
          required: true
          schema:
            type: string
      security:
        - Bearer-Token: []
        - API-Key: []
      responses:
        '200':
          description: Bot-detection settings
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    put:
      operationId: put_v1_tenants_ByTenantID_security_bots_settings
      summary: Update bot settings
      tags:
        - Threats
      parameters:
        - name: tenantID
          in: path
          required: true
          schema:
            type: string
      security:
        - Bearer-Token: []
        - API-Key: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: Updated settings
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/Unprocessable'
  /v1/tenants/{tenantID}/security/anomalies:
    get:
      operationId: get_v1_tenants_ByTenantID_security_anomalies
      summary: List anomalies
      tags:
        - Threats
      parameters:
        - name: tenantID
          in: path
          required: true
          schema:
            type: string
      security:
        - Bearer-Token: []
        - API-Key: []
      responses:
        '200':
          description: Recent anomalies
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v1/tenants/{tenantID}/security/anomalies/summary:
    get:
      operationId: get_v1_tenants_ByTenantID_security_anomalies_summary
      summary: Anomaly summary
      tags:
        - Threats
      parameters:
        - name: tenantID
          in: path
          required: true
          schema:
            type: string
      security:
        - Bearer-Token: []
        - API-Key: []
      responses:
        '200':
          description: Open/resolved/affected/high-severity counts
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v1/tenants/{tenantID}/security/anomalies/{id}/resolve:
    post:
      operationId: post_v1_tenants_ByTenantID_security_anomalies_ById_resolve
      summary: Resolve anomaly
      tags:
        - Threats
      parameters:
        - name: tenantID
          in: path
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: string
      security:
        - Bearer-Token: []
        - API-Key: []
      responses:
        '200':
          description: Anomaly resolved
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/tenants/{tenantID}/relation-tuples:
    get:
      operationId: get_v1_tenants_ByTenantID_relation_tuples
      summary: List relation tuples
      description: |
        List tuples anchored on one side of the relationship. Supply exactly one of:
        - **object** — all tuples where this is the object ("type:id"); returns who has a relation on it.
        - **subject** — all tuples where this is the subject ("type:id" or "type:id#relation"); reverse-lookup of what a principal can reach.
      tags:
        - ReBAC
      parameters:
        - name: tenantID
          in: path
          required: true
          schema:
            type: string
        - name: object
          in: query
          required: false
          schema:
            type: string
          description: Object ref "type:id", e.g. document:readme. Mutually exclusive with subject.
        - name: subject
          in: query
          required: false
          schema:
            type: string
          description: Subject ref "type:id" or "type:id#relation", e.g. user:abc123. Returns all objects the subject appears on. Mutually exclusive with object.
      security:
        - Bearer-Token: []
        - API-Key: []
      responses:
        '200':
          description: Tuples anchored on the given object or subject
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    post:
      operationId: post_v1_tenants_ByTenantID_relation_tuples
      summary: Write relation tuple
      tags:
        - ReBAC
      parameters:
        - name: tenantID
          in: path
          required: true
          schema:
            type: string
      security:
        - Bearer-Token: []
        - API-Key: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - object
                - relation
                - subject
              properties:
                object:
                  type: string
                  description: '"type:id"'
                relation:
                  type: string
                subject:
                  type: string
                  description: '"user:<id>" or "type:id#relation" (userset)'
      responses:
        '201':
          description: Tuple written
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/Unprocessable'
  /v1/tenants/{tenantID}/relation-tuples/{id}:
    delete:
      operationId: delete_v1_tenants_ByTenantID_relation_tuples_ById
      summary: Delete relation tuple
      tags:
        - ReBAC
      parameters:
        - name: tenantID
          in: path
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: string
      security:
        - Bearer-Token: []
        - API-Key: []
      responses:
        '204':
          description: Deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/tenants/{tenantID}/relation-tuples/check:
    post:
      operationId: post_v1_tenants_ByTenantID_relation_tuples_check
      summary: Check relation
      tags:
        - ReBAC
      parameters:
        - name: tenantID
          in: path
          required: true
          schema:
            type: string
        - name: explain
          in: query
          required: false
          description: When "true", returns the root-to-leaf chain of relation tuples that granted (or would grant) access instead of just the boolean.
          schema:
            type: string
            enum:
              - 'true'
              - 'false'
      security:
        - Bearer-Token: []
        - API-Key: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - object
                - relation
                - user_id
              properties:
                object:
                  type: string
                relation:
                  type: string
                user_id:
                  type: string
      responses:
        '200':
          description: '{ allowed: bool } by default; with explain=true, { allowed, path } where each path step is { object, relation, subject, depth }'
          content:
            application/json:
              schema:
                type: object
                properties:
                  allowed:
                    type: boolean
                  path:
                    type: array
                    items:
                      type: object
                      properties:
                        object:
                          type: string
                        relation:
                          type: string
                        subject:
                          type: string
                        depth:
                          type: integer
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/Unprocessable'
  /v1/tenants/{tenantID}/relation-tuples/graph:
    get:
      operationId: get_v1_tenants_ByTenantID_relation_tuples_graph
      summary: Expand identity graph
      description: |
        Builds a node+edge graph of all subject identities reachable from a
        given object+relation, up to `depth` hops. Answers the question:
        "who/what can reach this resource, and through which chain of
        relationships?"

        Each **node** is a `"type:id"` identity (user, group, agent, document,
        or any other modeled entity). Each **edge** is a named relation between
        two nodes, following userset references recursively. The result is
        suitable for graph visualization (e.g. a security-posture or privilege-path
        view) or as input to further investigation queries.

        This is the ReBAC analogue of a privilege-path graph: it is explicit about
        the boundaries of what Qeet ID's own relation-tuple store covers (only
        tuples modeled here, not external RBAC or cloud IAM), and never
        over-claims coverage.
      tags:
        - ReBAC
      parameters:
        - name: tenantID
          in: path
          required: true
          schema:
            type: string
        - name: object
          in: query
          required: true
          schema:
            type: string
          description: Root object ref "type:id", e.g. document:security-runbook
        - name: relation
          in: query
          required: true
          schema:
            type: string
          description: Relation to expand from the root, e.g. viewer
        - name: depth
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 10
            default: 10
          description: Maximum hops to follow (default and max 10)
      security:
        - Bearer-Token: []
        - API-Key: []
      responses:
        '200':
          description: Graph of all nodes and directed edges reachable from the root
          content:
            application/json:
              schema:
                type: object
                properties:
                  nodes:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: '"type:id"'
                        type:
                          type: string
                        label:
                          type: string
                  edges:
                    type: array
                    items:
                      type: object
                      properties:
                        from:
                          type: string
                        to:
                          type: string
                        relation:
                          type: string
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/Unprocessable'
  /v1/tenants/{tenantID}/access/v1/evaluation:
    post:
      operationId: post_v1_tenants_ByTenantID_access_v1_evaluation
      summary: AuthZEN evaluation
      description: OpenID AuthZEN core PDP evaluation request. Routes to RBAC when resource.type is "permission" (action.name is the permission key); otherwise routes to ReBAC (resource becomes "type:id", action.name becomes the relation).
      tags:
        - AuthZEN
      parameters:
        - name: tenantID
          in: path
          required: true
          schema:
            type: string
      security:
        - Bearer-Token: []
        - API-Key: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - subject
                - action
              properties:
                subject:
                  type: object
                  properties:
                    type:
                      type: string
                    id:
                      type: string
                resource:
                  type: object
                  properties:
                    type:
                      type: string
                    id:
                      type: string
                action:
                  type: object
                  properties:
                    name:
                      type: string
                context:
                  type: object
                  description: 'Optional. { explain: true } includes the grant-path trace inline in the response context.'
      responses:
        '200':
          description: '{ decision: bool, context?: object }'
          content:
            application/json:
              schema:
                type: object
                properties:
                  decision:
                    type: boolean
                  context:
                    type: object
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/Unprocessable'
  /v1/tenants/{tenantID}/ip-rules:
    get:
      operationId: get_v1_tenants_ByTenantID_ip_rules
      summary: List rules + enforcement
      tags:
        - IP Rules
      parameters:
        - name: tenantID
          in: path
          required: true
          schema:
            type: string
      security:
        - Bearer-Token: []
        - API-Key: []
      description: Response body summarized; accurate path/method/params/security. Enrich the body later.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    post:
      operationId: post_v1_tenants_ByTenantID_ip_rules
      summary: Add rule
      tags:
        - IP Rules
      parameters:
        - name: tenantID
          in: path
          required: true
          schema:
            type: string
      security:
        - Bearer-Token: []
        - API-Key: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
        description: Request body summarized; see the handler for exact fields.
      description: Response body summarized; accurate path/method/params/security. Enrich the body later.
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /v1/tenants/{tenantID}/ip-rules/check:
    post:
      operationId: post_v1_tenants_ByTenantID_ip_rules_check
      summary: Check an address
      tags:
        - IP Rules
      parameters:
        - name: tenantID
          in: path
          required: true
          schema:
            type: string
      security:
        - Bearer-Token: []
        - API-Key: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
        description: Request body summarized; see the handler for exact fields.
      description: Response body summarized; accurate path/method/params/security. Enrich the body later.
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /v1/tenants/{tenantID}/ip-rules/config:
    put:
      operationId: put_v1_tenants_ByTenantID_ip_rules_config
      summary: Set enforcement
      tags:
        - IP Rules
      parameters:
        - name: tenantID
          in: path
          required: true
          schema:
            type: string
      security:
        - Bearer-Token: []
        - API-Key: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
        description: Request body summarized; see the handler for exact fields.
      description: Response body summarized; accurate path/method/params/security. Enrich the body later.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /v1/tenants/{tenantID}/ip-rules/{ruleID}:
    delete:
      operationId: delete_v1_tenants_ByTenantID_ip_rules_ByRuleID
      summary: Delete rule
      tags:
        - IP Rules
      parameters:
        - name: tenantID
          in: path
          required: true
          schema:
            type: string
        - name: ruleID
          in: path
          required: true
          schema:
            type: string
      security:
        - Bearer-Token: []
        - API-Key: []
      description: Response body summarized; accurate path/method/params/security. Enrich the body later.
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /v1/tenants/{tenantID}/policy:
    get:
      operationId: get_v1_tenants_ByTenantID_policy
      summary: Get policy
      tags:
        - Policy
      parameters:
        - name: tenantID
          in: path
          required: true
          schema:
            type: string
      security:
        - Bearer-Token: []
        - API-Key: []
      description: Response body summarized; accurate path/method/params/security. Enrich the body later.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    put:
      operationId: put_v1_tenants_ByTenantID_policy
      summary: Update policy
      tags:
        - Policy
      parameters:
        - name: tenantID
          in: path
          required: true
          schema:
            type: string
      security:
        - Bearer-Token: []
        - API-Key: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
        description: Request body summarized; see the handler for exact fields.
      description: Response body summarized; accurate path/method/params/security. Enrich the body later.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /v1/tenants/{tenantID}/roles:
    get:
      operationId: get_v1_tenants_ByTenantID_roles
      summary: List roles
      tags:
        - RBAC
      parameters:
        - name: tenantID
          in: path
          required: true
          schema:
            type: string
      security:
        - Bearer-Token: []
        - API-Key: []
      responses:
        '200':
          description: Roles
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Role'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    post:
      operationId: post_v1_tenants_ByTenantID_roles
      summary: Create role
      tags:
        - RBAC
      parameters:
        - name: tenantID
          in: path
          required: true
          schema:
            type: string
      security:
        - Bearer-Token: []
        - API-Key: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RoleCreate'
      responses:
        '201':
          description: Role created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Role'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/Unprocessable'
  /v1/users/{userID}/tenants/{tenantID}/permissions:
    get:
      operationId: get_v1_users_ByUserID_tenants_ByTenantID_permissions
      summary: Effective permissions
      tags:
        - RBAC
      parameters:
        - name: userID
          in: path
          required: true
          schema:
            type: string
        - name: tenantID
          in: path
          required: true
          schema:
            type: string
      security:
        - Bearer-Token: []
        - API-Key: []
      responses:
        '200':
          description: Effective permissions
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      type: string
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/users/{userID}/tenants/{tenantID}/roles/{roleID}:
    delete:
      operationId: delete_v1_users_ByUserID_tenants_ByTenantID_roles_ByRoleID
      summary: Unassign role from user
      tags:
        - RBAC
      parameters:
        - name: userID
          in: path
          required: true
          schema:
            type: string
        - name: tenantID
          in: path
          required: true
          schema:
            type: string
        - name: roleID
          in: path
          required: true
          schema:
            type: string
      security:
        - Bearer-Token: []
        - API-Key: []
      responses:
        '204':
          description: Unassigned
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      operationId: post_v1_users_ByUserID_tenants_ByTenantID_roles_ByRoleID
      summary: Assign role to user
      tags:
        - RBAC
      parameters:
        - name: userID
          in: path
          required: true
          schema:
            type: string
        - name: tenantID
          in: path
          required: true
          schema:
            type: string
        - name: roleID
          in: path
          required: true
          schema:
            type: string
      security:
        - Bearer-Token: []
        - API-Key: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
        description: Request body summarized; see the handler for exact fields.
      responses:
        '204':
          description: Assigned
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/tenants/{tenantID}/abac/policies:
    get:
      operationId: get_v1_tenants_ByTenantID_abac_policies
      summary: List ABAC policies
      description: Returns all ABAC policies for the tenant, ordered by priority desc then name.
      tags:
        - ABAC
      parameters:
        - name: tenantID
          in: path
          required: true
          schema:
            type: string
            format: uuid
      security:
        - Bearer-Token: []
        - API-Key: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/ABACPolicy'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    post:
      operationId: post_v1_tenants_ByTenantID_abac_policies
      summary: Create ABAC policy
      description: Creates a new ABAC policy for the tenant.
      tags:
        - ABAC
      parameters:
        - name: tenantID
          in: path
          required: true
          schema:
            type: string
            format: uuid
      security:
        - Bearer-Token: []
        - API-Key: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ABACPolicyCreate'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ABACPolicy'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/Unprocessable'
  /v1/tenants/{tenantID}/abac/policies/{id}:
    get:
      operationId: get_v1_tenants_ByTenantID_abac_policies_ById
      summary: Get ABAC policy
      tags:
        - ABAC
      parameters:
        - name: tenantID
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      security:
        - Bearer-Token: []
        - API-Key: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ABACPolicy'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      operationId: patch_v1_tenants_ByTenantID_abac_policies_ById
      summary: Update ABAC policy
      description: Replaces all mutable fields of a policy. Send the full desired state.
      tags:
        - ABAC
      parameters:
        - name: tenantID
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      security:
        - Bearer-Token: []
        - API-Key: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ABACPolicyCreate'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ABACPolicy'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/Unprocessable'
    delete:
      operationId: delete_v1_tenants_ByTenantID_abac_policies_ById
      summary: Delete ABAC policy
      tags:
        - ABAC
      parameters:
        - name: tenantID
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      security:
        - Bearer-Token: []
        - API-Key: []
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/tenants/{tenantID}/abac/evaluate:
    post:
      operationId: post_v1_tenants_ByTenantID_abac_evaluate
      summary: Evaluate ABAC policies
      description: |
        Runs the deny-wins ABAC evaluation algorithm against all enabled policies
        that match the supplied resource type and action. Returns the decision and,
        when ?explain=true, a trace of every policy evaluated.
      tags:
        - ABAC
      parameters:
        - name: tenantID
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: explain
          in: query
          required: false
          schema:
[...]
