openapi: 3.1.0
info:
  title: Qeet Pay API
  version: v1
  description: India-first payments, billing and GST infrastructure (UPI / Cards / NACH) — payments and payouts, billing, tax, risk, embedded finance and platform APIs. Money is always in integer minor units (paise).
  contact:
    name: Qeet Group
    url: https://qeet.in
  license:
    name: Proprietary
    url: https://qeet.in
servers:
  - url: https://api.pay.qeet.in
    description: Production
  - url: https://api.pay.staging.qeet.in
    description: Staging
  - url: http://localhost:4201
    description: Local (docker compose)
security:
  - API-Key: []
tags:
  - name: Orchestration
    description: Smart provider routing — scorecards and cost basis.
  - name: Virtual Accounts
    description: Per-customer virtual accounts with auto-reconciled credits.
  - name: Payments
    description: Accept payments — create authorizes, capture posts the ledger entry (idempotent), read and list.
  - name: Payment Links
    description: Create, read, list and cancel shareable payment links (fixed or open amount), and pay a link by its code.
  - name: Offline
  - name: Mandates
    description: Recurring-mandate lifecycle (create → activate → pause/resume → revoke) and idempotent mandate debits.
  - name: Checkout
    description: Public hosted-checkout — resolve a payment link by code and pay it with no merchant API key.
  - name: Treasury
    description: Programmable money — auto-sweep rules that move idle cash between ledger accounts, plus an advisory idle-cash recommendation.
  - name: Reconciliation
    description: Ingest provider settlement reports — post the money movement and auto-reconcile against captured payments.
  - name: Payroll
  - name: Payouts
    description: Create, approve (maker-checker, idempotent) and reject single payouts; approval disburses and posts to the ledger.
  - name: Ledger
    description: Double-entry ledger accounts and balanced journal entries.
  - name: Billing
    description: Plans, subscriptions, invoices and usage metering, with lifecycle actions (upgrade/downgrade/pause/resume/cancel).
  - name: Revenue Recognition
    description: IndAS 115 revenue schedules — defer revenue, recognise due periods, and read schedules with their slices.
  - name: Dunning
    description: Failed-payment retry rules and attempt history.
  - name: TDS / TCS Returns
    description: Prepare, export, and file quarterly TDS/TCS statutory returns (Form 24Q/26Q/27EQ).
  - name: TDS / TCS
    description: Tax-at-source deductions, certificates and summaries.
  - name: Input Tax Credit
    description: Record inward-supply purchase invoices, reconcile them against supplier-filed GSTR-2B, and report eligible ITC.
  - name: GST Returns
    description: Prepare GSTR-1/GSTR-3B returns for a tax period from merchant invoices and file them to GSTN (ARN).
  - name: GST AI
    description: AI-assisted HSN/SAC classification and the Regulatory-Change Impact Radar — both via the AiGateway §6.4 safety matrix with a deterministic fallback.
  - name: GST Invoicing
    description: Issue GST credit/debit notes against invoices and manage multi-GSTIN registration.
  - name: E-Invoicing (IRN)
    description: Register a GST invoice at the IRP to obtain its IRN + signed QR; read IRN details and cancel within the window.
  - name: ONDC
    description: 'Multi-party settlement for ONDC network orders: create with per-party lines, fulfil, settle post-fulfilment (commission + GST + statutory TCS §52), and cancel.'
  - name: Marketplace
    description: Seller registration and split settlements (TCS/TDS).
  - name: Lending
    description: Working-capital advances — request/accept offers (disburses funds) and apply settlement sweeps to repayment.
  - name: Insurance
    description: Embedded insurance — issue protection policies (collecting premium) and file, approve or reject claims.
  - name: ESG / Carbon
    description: Per-transaction carbon footprint and offsets.
  - name: Escrow
    description: Conditional escrow — hold buyer funds, release (partly) to the seller or refund to the buyer, with event history.
  - name: Cross-Border — Outbound
    description: Outbound/import remittances to foreign vendors via SWIFT, with LRS tracking + 2.5% TCS.
  - name: Cross-Border
    description: Export invoices and inward FX remittances (FIRA).
  - name: Cards
    description: Virtual expense/wallet cards — issue, load funds, spend, freeze/unfreeze/close, and read transaction history.
  - name: BNPL
    description: Buy-Now-Pay-Later installment agreements.
  - name: KYB V-CIP
    description: Video-based Customer Identification Process — schedule and run video-KYC sessions for a merchant's signatory (RBI Master Directions).
  - name: KYB UBO
    description: Ultimate Beneficial Owner registry — natural persons holding > 10% equity (RBI Master Directions).
  - name: KYB
    description: Merchant Know-Your-Business — submit PAN / GSTIN / bank details and query overall verification status.
  - name: Customer KYC
    description: End-customer KYC — Aadhaar-OTP e-KYC (simulated) + PAN verification + consent capture.
  - name: AML
    description: Sanctions/PEP screening, transaction monitoring, mule-account detection, and STR generation/filing with FIU-IND.
  - name: Fraud
    description: Fraud-scoring decision audit — score, verdict, and the Explainable-AI top reasons.
  - name: Messaging
    description: WhatsApp/SMS/email templates and rendered dispatch (queued to qeet-notify via the outbox); delivery callbacks.
  - name: Accounting
    description: Export a period's ledger journal entries + GST invoices to Tally / Zoho Books / SAP Business One / a webhook, and manage connections.
  - name: Webhooks
    description: Register webhook endpoints (event subscriptions + signing secret) and view delivery history.
  - name: Messaging — WhatsApp
    description: Inbound WhatsApp webhook + subscription command bot, and in-chat WhatsApp Pay collections (sandbox rail).
  - name: Merchants
    description: Merchant onboarding (mints an API key + seeds the chart of accounts) and the current-merchant profile.
  - name: Copilot
    description: LLM copilots — treasury & cash-flow, reconciliation, and natural-language query over the merchant's own data. Every answer cites its figures, routes through the AI gateway, and is persisted for audit.
  - name: Agentic Mandates
    description: AI-agent mandates — scoped, capped, revocable authority with a deterministic authorize decision.
  - name: Platform
    description: Resolved request identity — the current merchant plus the Qeet ID JWT subject/roles (null under an API key).
  - name: Analytics
    description: Business metrics — TPV, MRR waterfall, ARR, success rate, and settlement cash-flow forecasting.
  - name: AI
    description: AI gateway decision audit — the trail every AI feature writes through the §6.4 safety matrix.
  - name: Agentic MCP
    description: Model-Context-Protocol tool manifest — the safe tools an AI agent may call.
x-tagGroups:
  - name: Payments
    tags:
      - Orchestration
      - Virtual Accounts
      - Payments
      - Payment Links
      - Offline
      - Mandates
      - Checkout
  - name: Payouts & Money
    tags:
      - Treasury
      - Reconciliation
      - Payroll
      - Payouts
      - Ledger
  - name: Billing
    tags:
      - Billing
      - Revenue Recognition
      - Dunning
  - name: GST & Tax
    tags:
      - TDS / TCS Returns
      - TDS / TCS
      - Input Tax Credit
      - GST Returns
      - GST AI
      - GST Invoicing
      - E-Invoicing (IRN)
  - name: Commerce & Embedded Finance
    tags:
      - ONDC
      - Marketplace
      - Lending
      - Insurance
      - ESG / Carbon
      - Escrow
      - Cross-Border — Outbound
      - Cross-Border
      - Cards
      - BNPL
  - name: Risk & Compliance
    tags:
      - KYB V-CIP
      - KYB UBO
      - KYB
      - Customer KYC
      - AML
      - Fraud
  - name: Platform
    tags:
      - Messaging
      - Accounting
      - Webhooks
      - Messaging — WhatsApp
      - Merchants
      - Copilot
      - Agentic Mandates
      - Platform
      - Analytics
      - AI
      - Agentic MCP
paths:
  /v1/payments/providers/{provider}/cost:
    put:
      tags:
        - Orchestration
      operationId: setCost
      parameters:
        - name: provider
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CostRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ScorecardView'
  /v1/virtual-accounts:
    get:
      tags:
        - Virtual Accounts
      operationId: list
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/VirtualAccountView'
    post:
      tags:
        - Virtual Accounts
      operationId: mint
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MintRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/VirtualAccountView'
  /v1/virtual-accounts/{vaId}/credits:
    post:
      tags:
        - Virtual Accounts
      operationId: credit
      parameters:
        - name: vaId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreditRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CreditView'
  /v1/virtual-accounts/{vaId}/close:
    post:
      tags:
        - Virtual Accounts
      operationId: close
      parameters:
        - name: vaId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/VirtualAccountView'
  /v1/payments:
    get:
      tags:
        - Payments
      operationId: list_1
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PaymentView'
    post:
      tags:
        - Payments
      operationId: create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePaymentRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PaymentView'
  /v1/payments/{id}/refund:
    post:
      tags:
        - Payments
      operationId: refund
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: Idempotency-Key
          in: header
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefundRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: object
  /v1/payments/{id}/capture:
    post:
      tags:
        - Payments
      operationId: capture
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: Idempotency-Key
          in: header
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: object
  /v1/payments/razorpay/webhook:
    post:
      tags:
        - Payments
      operationId: handleWebhook
      parameters:
        - name: X-Razorpay-Signature
          in: header
          required: false
          schema:
            type: string
        - name: X-Razorpay-Event-Id
          in: header
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: string
        required: true
      responses:
        '200':
          description: OK
  /v1/payment-links:
    get:
      tags:
        - Payment Links
      operationId: list_2
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LinkView'
    post:
      tags:
        - Payment Links
      operationId: create_1
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateLinkRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/LinkView'
  /v1/payment-links/{linkId}/cancel:
    post:
      tags:
        - Payment Links
      operationId: cancel
      parameters:
        - name: linkId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/LinkView'
  /v1/payment-links/{code}/pay:
    post:
      tags:
        - Payment Links
      operationId: pay
      parameters:
        - name: code
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentLinkPayRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/LinkView'
  /v1/offline/upi-lite/wallets:
    get:
      tags:
        - Offline
      operationId: listWallets
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WalletView'
    post:
      tags:
        - Offline
      operationId: createWallet
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateWalletRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/WalletView'
  /v1/offline/upi-lite/wallets/{walletId}/topup:
    post:
      tags:
        - Offline
      operationId: topUp
      parameters:
        - name: walletId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OfflineAmountRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/TxnView'
  /v1/offline/upi-lite/wallets/{walletId}/spend:
    post:
      tags:
        - Offline
      operationId: spend
      parameters:
        - name: walletId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OfflineAmountRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/TxnView'
  /v1/offline/pos/transactions:
    get:
      tags:
        - Offline
      operationId: listTransactions
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PosTxnView'
    post:
      tags:
        - Offline
      operationId: capture_1
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PosCaptureRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PosTxnView'
  /v1/offline/pos/devices:
    get:
      tags:
        - Offline
      operationId: listDevices
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DeviceView'
    post:
      tags:
        - Offline
      operationId: registerDevice
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterDeviceRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DeviceView'
  /v1/offline/bharat-qr:
    get:
      tags:
        - Offline
      operationId: listQr
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BharatQrView'
    post:
      tags:
        - Offline
      operationId: generateQr
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BharatQrRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BharatQrView'
  /v1/offline/123pay/intents:
    get:
      tags:
        - Offline
      operationId: listIntents
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/IntentView'
    post:
      tags:
        - Offline
      operationId: createIntent
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Intent123Request'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/IntentView'
  /v1/offline/123pay/intents/{intentId}/confirm:
    post:
      tags:
        - Offline
      operationId: confirmIntent
      parameters:
        - name: intentId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/IntentView'
  /v1/mandates:
    get:
      tags:
        - Mandates
      operationId: list_3
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RecurringMandateView'
    post:
      tags:
        - Mandates
      operationId: create_2
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateMandateRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/RecurringMandateView'
  /v1/mandates/{id}/revoke:
    post:
      tags:
        - Mandates
      operationId: revoke
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/RecurringMandateView'
  /v1/mandates/{id}/pause:
    post:
      tags:
        - Mandates
      operationId: pause
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/RecurringMandateView'
  /v1/mandates/{id}/debit:
    post:
      tags:
        - Mandates
      operationId: debit
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: Idempotency-Key
          in: header
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DebitRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: object
  /v1/mandates/{id}/activate:
    post:
      tags:
        - Mandates
      operationId: activate
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ActivateRequest'
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/RecurringMandateView'
  /v1/checkout/{code}/pay:
    post:
      tags:
        - Checkout
      operationId: pay_1
      parameters:
        - name: code
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckoutPayRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PayResult'
  /v1/virtual-accounts/{vaId}:
    get:
      tags:
        - Virtual Accounts
      operationId: get
      parameters:
        - name: vaId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AccountWithCreditsView'
  /v1/payments/{id}:
    get:
      tags:
        - Payments
      operationId: get_1
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PaymentView'
  /v1/payments/{id}/refunds:
    get:
      tags:
        - Payments
      operationId: refunds
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RefundView'
  /v1/payments/providers/scorecards:
    get:
      tags:
        - Orchestration
      operationId: scorecards
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ScorecardView'
  /v1/payments/providers/routing-explain:
    get:
      tags:
        - Orchestration
      operationId: routingExplain
      parameters:
        - name: candidates
          in: query
          required: false
          schema:
            type: array
            items:
              type: string
        - name: gstin
          in: query
          required: false
          schema:
            type: string
        - name: placeOfSupply
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/RoutingExplainView'
  /v1/payment-links/{linkId}:
    get:
      tags:
        - Payment Links
      operationId: get_2
      parameters:
        - name: linkId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/LinkView'
  /v1/payment-links/by-code/{code}:
    get:
      tags:
        - Payment Links
      operationId: getByCode
      parameters:
        - name: code
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/LinkView'
  /v1/offline/upi-lite/wallets/{walletId}:
    get:
      tags:
        - Offline
      operationId: getWallet
      parameters:
        - name: walletId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/WalletWithTxnsView'
  /v1/mandates/{id}:
    get:
      tags:
        - Mandates
      operationId: get_3
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/RecurringMandateView'
  /v1/mandates/{id}/debits:
    get:
      tags:
        - Mandates
      operationId: debits
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MandateDebitView'
  /v1/checkout/{code}:
    get:
      tags:
        - Checkout
      operationId: get_4
      parameters:
        - name: code
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PublicView'
  /v1/treasury/sweeps/run:
    post:
      tags:
        - Treasury
      operationId: runSweeps
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SweepRunView'
  /v1/treasury/rules:
    get:
      tags:
        - Treasury
      operationId: listRules
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TreasuryRuleView'
    post:
      tags:
        - Treasury
      operationId: createRule
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TreasuryCreateRuleRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/TreasuryRuleView'
  /v1/treasury/rules/{ruleId}/resume:
    post:
      tags:
        - Treasury
      operationId: resumeRule
      parameters:
        - name: ruleId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/TreasuryRuleView'
  /v1/treasury/rules/{ruleId}/pause:
    post:
      tags:
        - Treasury
      operationId: pauseRule
      parameters:
        - name: ruleId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/TreasuryRuleView'
  /v1/settlements:
    get:
      tags:
        - Reconciliation
      operationId: payouts_list
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SettlementView'
    post:
      tags:
        - Reconciliation
      operationId: ingest
      parameters:
        - name: Idempotency-Key
          in: header
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IngestSettlementRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: object
  /v1/payroll/batches:
    get:
      tags:
        - Payroll
      operationId: payouts_list_1
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PayrollBatchSummaryView'
    post:
      tags:
        - Payroll
      operationId: payouts_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePayrollBatchRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PayrollBatchView'
  /v1/payroll/batches/{id}/reject:
    post:
      tags:
        - Payroll
      operationId: reject
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PayrollBatchView'
  /v1/payroll/batches/{id}/approve:
    post:
      tags:
        - Payroll
      operationId: approve
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: Idempotency-Key
          in: header
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: object
  /v1/payouts:
    post:
      tags:
        - Payouts
      operationId: payouts_create_1
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePayoutRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PayoutView'
  /v1/payouts/{id}/reject:
    post:
      tags:
        - Payouts
      operationId: reject_1
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PayoutView'
  /v1/payouts/{id}/approve:
    post:
      tags:
        - Payouts
      operationId: approve_1
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: Idempotency-Key
          in: header
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: object
  /v1/payout-batches:
    get:
      tags:
        - Payouts
      operationId: payouts_list_2
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PayoutBatchSummaryView'
    post:
      tags:
        - Payouts
      operationId: payouts_create_2
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateBatchRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PayoutBatchView'
  /v1/payout-batches/{id}/reject:
    post:
      tags:
        - Payouts
      operationId: reject_2
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PayoutBatchView'
  /v1/payout-batches/{id}/approve:
    post:
      tags:
        - Payouts
      operationId: approve_2
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: Idempotency-Key
          in: header
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: object
  /v1/payout-batches/csv:
    post:
      tags:
        - Payouts
      operationId: createFromCsv
      parameters:
        - name: currency
          in: query
          required: false
          schema:
            type: string
            default: INR
        - name: description
          in: query
          required: false
          schema:
            type: string
      requestBody:
        content:
          text/csv:
            schema:
              type: string
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PayoutBatchView'
  /v1/ledger/entries:
    post:
      tags:
        - Ledger
      operationId: postEntry
      parameters:
        - name: Idempotency-Key
          in: header
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostEntryRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: object
  /v1/treasury/sweeps:
    get:
      tags:
        - Treasury
      operationId: listSweeps
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SweepExecutionView'
  /v1/treasury/rules/{ruleId}:
    get:
      tags:
        - Treasury
      operationId: getRule
      parameters:
        - name: ruleId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/TreasuryRuleView'
  /v1/treasury/recommendations:
    get:
      tags:
        - Treasury
      operationId: recommendations
      parameters:
        - name: horizonDays
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 30
        - name: windowDays
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 30
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/IdleCashRecommendation'
  /v1/settlements/{id}:
    get:
      tags:
        - Reconciliation
      operationId: payouts_get
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SettlementView'
  /v1/payroll/batches/{id}:
    get:
      tags:
        - Payroll
      operationId: payouts_get_1
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PayrollBatchView'
  /v1/payroll/batches/{id}/lines:
    get:
      tags:
        - Payroll
      operationId: lines
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PayrollLineView'
  /v1/payroll/batches/{id}/lines/{lineId}/slip:
    get:
      tags:
        - Payroll
      operationId: slip
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: lineId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SalarySlip'
  /v1/payouts/{id}:
    get:
      tags:
        - Payouts
      operationId: payouts_get_2
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PayoutView'
  /v1/payout-batches/{id}:
    get:
      tags:
        - Payouts
      operationId: payouts_get_3
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PayoutBatchView'
  /v1/ledger/accounts:
    get:
      tags:
        - Ledger
      operationId: accounts
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LedgerAccountView'
  /v1/ledger/accounts/{id}/balance:
    get:
      tags:
        - Ledger
      operationId: balance
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BalanceView'
  /v1/subscriptions:
    get:
      tags:
        - Billing
      operationId: listSubscriptions
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SubscriptionView'
    post:
      tags:
        - Billing
      operationId: createSubscription
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSubscriptionRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SubscriptionView'
  /v1/subscriptions/{id}/upgrade:
    post:
      tags:
        - Billing
      operationId: upgradeSubscription
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpgradePlanRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/UpgradeView'
  /v1/subscriptions/{id}/resume:
    post:
      tags:
        - Billing
      operationId: resumeSubscription
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SubscriptionView'
  /v1/subscriptions/{id}/pause:
    post:
      tags:
        - Billing
      operationId: pauseSubscription
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SubscriptionView'
  /v1/subscriptions/{id}/downgrade:
    post:
      tags:
        - Billing
      operationId: downgradeSubscription
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpgradePlanRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SubscriptionView'
  /v1/subscriptions/{id}/cancel:
    post:
      tags:
        - Billing
      operationId: cancelSubscription
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: atPeriodEnd
          in: query
          required: false
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SubscriptionView'
  /v1/revrec/schedules:
    get:
      tags:
        - Revenue Recognition
      operationId: billing_list
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ScheduleSummary'
    post:
      tags:
        - Revenue Recognition
      operationId: billing_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateScheduleRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ScheduleView'
  /v1/revrec/schedules/{scheduleId}/recognize:
    post:
      tags:
        - Revenue Recognition
      operationId: recognize
      parameters:
        - name: scheduleId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: asOf
          in: query
          required: false
          schema:
            type: string
            format: date
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ScheduleView'
  /v1/plans:
    get:
      tags:
        - Billing
      operationId: listPlans
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PlanView'
    post:
      tags:
        - Billing
      operationId: createPlan
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePlanRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PlanView'
  /v1/invoices/{id}/pay:
    post:
      tags:
        - Billing
      operationId: payInvoice
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: Idempotency-Key
          in: header
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: object
  /v1/dunning/subscriptions/{subscriptionId}/trigger-smart:
    post:
      tags:
        - Dunning
      operationId: triggerSmart
      parameters:
        - name: subscriptionId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DunningClassifyRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AttemptView'
  /v1/dunning/subscriptions/{subscriptionId}/ai-recommend:
    post:
      tags:
        - Dunning
      operationId: aiRecommend
      parameters:
        - name: subscriptionId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AiRecommendRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AiRecommendView'
  /v1/dunning/rules:
    get:
      tags:
        - Dunning
      operationId: billing_listRules
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DunningRuleView'
    post:
      tags:
        - Dunning
      operationId: billing_createRule
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DunningCreateRuleRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DunningRuleView'
  /v1/dunning/classify:
    post:
      tags:
        - Dunning
      operationId: classify
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DunningClassifyRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ClassificationView'
  /v1/billing/usage:
    post:
      tags:
        - Billing
      operationId: ingestUsage
      parameters:
        - name: Idempotency-Key
          in: header
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UsageRequest'
        required: true
      responses:
        '200':
          description: OK
  /v1/subscriptions/{id}:
    get:
      tags:
        - Billing
      operationId: getSubscription
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SubscriptionView'
  /v1/revrec/schedules/{scheduleId}:
    get:
      tags:
        - Revenue Recognition
      operationId: billing_get
      parameters:
        - name: scheduleId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ScheduleView'
  /v1/invoices:
    get:
      tags:
        - Billing
      operationId: listInvoices
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BillingInvoiceView'
  /v1/invoices/{id}:
    get:
      tags:
        - Billing
      operationId: getInvoice
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BillingInvoiceView'
  /v1/dunning/subscriptions/{subscriptionId}/attempts:
    get:
      tags:
        - Dunning
      operationId: attempts
      parameters:
        - name: subscriptionId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AttemptView'
  /v1/billing/usage/{subscriptionId}:
    get:
      tags:
        - Billing
      operationId: getUsage
      parameters:
        - name: subscriptionId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: metricKey
          in: query
          required: true
          schema:
            type: string
        - name: from
          in: query
          required: true
          schema:
            type: string
            format: date-time
        - name: to
          in: query
          required: true
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/UsageSummary'
  /v1/tds/returns/{returnId}/file:
    post:
      tags:
        - TDS / TCS Returns
      operationId: file
      parameters:
        - name: returnId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/TdsReturnSummary'
  /v1/tds/returns/prepare:
    post:
      tags:
        - TDS / TCS Returns
      operationId: prepare
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TdsPrepareRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/TdsReturnView'
  /v1/tds/deductions:
    get:
      tags:
        - TDS / TCS
      operationId: tax_list
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DeductionView'
    post:
      tags:
        - TDS / TCS
      operationId: record
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RecordDeductionRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DeductionView'
  /v1/tds/deductions/{deductionId}/certificate:
    post:
      tags:
        - TDS / TCS
      operationId: issueCertificate
      parameters:
        - name: deductionId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DeductionView'
  /v1/itc/reconcile:
    post:
      tags:
        - Input Tax Credit
      operationId: reconcile
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReconcileRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ReconSummary'
  /v1/itc/purchases:
    get:
      tags:
        - Input Tax Credit
      operationId: tax_list_1
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PurchaseView'
    post:
      tags:
        - Input Tax Credit
      operationId: record_1
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RecordPurchaseRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PurchaseView'
  /v1/gst/returns/{returnId}/file:
    post:
      tags:
        - GST Returns
      operationId: file_1
      parameters:
        - name: returnId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FilingReturnSummary'
  /v1/gst/returns/prepare:
    post:
      tags:
        - GST Returns
      operationId: prepare_1
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FilingPrepareRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FilingReturnView'
  /v1/gst/reg-changes:
    get:
      tags:
        - GST AI
      operationId: listRegChanges
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RegChangeView'
    post:
      tags:
        - GST AI
      operationId: createRegChange
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRegChangeRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/RegChangeView'
  /v1/gst/notes/{noteId}/cancel:
    post:
      tags:
        - GST Invoicing
      operationId: cancelNote
      parameters:
        - name: noteId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/NoteView'
  /v1/gst/notes/{noteId}/apply:
    post:
      tags:
        - GST Invoicing
      operationId: applyNote
      parameters:
        - name: noteId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/NoteView'
  /v1/gst/invoices:
    get:
      tags:
        - GST Invoicing
      operationId: tax_list_2
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GstInvoiceView'
    post:
      tags:
        - GST Invoicing
      operationId: tax_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateInvoiceRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GstInvoiceView'
  /v1/gst/invoices/{invoiceId}/irn:
    get:
      tags:
        - E-Invoicing (IRN)
      operationId: tax_get
      parameters:
        - name: invoiceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/IrnView'
    post:
      tags:
        - E-Invoicing (IRN)
      operationId: generate
      parameters:
        - name: invoiceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/IrnView'
  /v1/gst/invoices/{invoiceId}/irn/cancel:
    post:
      tags:
        - E-Invoicing (IRN)
      operationId: tax_cancel
      parameters:
        - name: invoiceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CancelRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/IrnView'
  /v1/gst/invoices/{invoiceId}/debit-note:
    post:
      tags:
        - GST Invoicing
      operationId: debitNote
      parameters:
        - name: invoiceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NoteRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/NoteView'
  /v1/gst/invoices/{invoiceId}/credit-note:
    post:
      tags:
        - GST Invoicing
      operationId: creditNote
      parameters:
        - name: invoiceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NoteRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/NoteView'
  /v1/gst/invoices/{id}/pay:
    post:
      tags:
        - GST Invoicing
      operationId: tax_pay
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: Idempotency-Key
          in: header
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: object
  /v1/gst/gstins:
    get:
      tags:
        - GST Invoicing
      operationId: listGstins
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GstinView'
    post:
      tags:
        - GST Invoicing
      operationId: registerGstin
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterGstinRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GstinView'
  /v1/gst/classify:
    post:
      tags:
        - GST AI
      operationId: tax_classify
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GstClassifyRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ClassificationResult'
  /v1/tds/summary:
    get:
      tags:
        - TDS / TCS
      operationId: summary
      parameters:
        - name: quarter
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SummaryView'
  /v1/tds/returns:
    get:
      tags:
        - TDS / TCS Returns
      operationId: tax_list_3
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TdsReturnSummary'
  /v1/tds/returns/{returnId}:
    get:
      tags:
        - TDS / TCS Returns
      operationId: tax_get_1
      parameters:
        - name: returnId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/TdsReturnView'
  /v1/tds/returns/{returnId}/export:
    get:
      tags:
        - TDS / TCS Returns
      operationId: export
      parameters:
        - name: returnId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: string
                format: byte
  /v1/tds/deductions/{deductionId}:
    get:
      tags:
        - TDS / TCS
      operationId: tax_get_2
      parameters:
        - name: deductionId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DeductionView'
  /v1/itc/purchases/{id}:
    get:
      tags:
        - Input Tax Credit
      operationId: tax_get_3
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PurchaseView'
  /v1/itc/eligible-summary:
    get:
      tags:
        - Input Tax Credit
      operationId: eligibleSummary
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/EligibleItcSummary'
  /v1/gst/returns:
    get:
      tags:
        - GST Returns
      operationId: list_4
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FilingReturnSummary'
  /v1/gst/returns/{returnId}:
    get:
      tags:
        - GST Returns
      operationId: tax_get_4
      parameters:
        - name: returnId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FilingReturnView'
  /v1/gst/reg-changes/{id}/impact:
    get:
      tags:
        - GST AI
      operationId: impact
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/RegChangeImpactReport'
  /v1/gst/notes:
    get:
      tags:
        - GST Invoicing
      operationId: listNotes
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/NoteView'
  /v1/gst/invoices/{id}:
    get:
      tags:
        - GST Invoicing
      operationId: get_5
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GstInvoiceView'
  /v1/ondc/orders:
    get:
      tags:
        - ONDC
      operationId: listOrders
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OrderSummary'
    post:
      tags:
        - ONDC
      operationId: createOrder
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrderRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/OrderView'
  /v1/ondc/orders/{orderId}/settle:
    post:
      tags:
        - ONDC
      operationId: settle
      parameters:
        - name: orderId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/OrderView'
  /v1/ondc/orders/{orderId}/fulfill:
    post:
      tags:
        - ONDC
      operationId: fulfill
      parameters:
        - name: orderId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/OrderView'
  /v1/ondc/orders/{orderId}/cancel:
    post:
      tags:
        - ONDC
      operationId: commerce_cancel
      parameters:
        - name: orderId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/OrderView'
  /v1/marketplace/splits:
    get:
      tags:
        - Marketplace
      operationId: listSplits
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SplitSummary'
    post:
      tags:
        - Marketplace
      operationId: createSplit
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSplitRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SplitView'
  /v1/marketplace/splits/{splitId}/cancel:
    post:
      tags:
        - Marketplace
      operationId: cancelSplit
      parameters:
        - name: splitId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SplitView'
  /v1/marketplace/sellers:
    get:
      tags:
        - Marketplace
      operationId: listSellers
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SellerView'
    post:
      tags:
        - Marketplace
      operationId: registerSeller
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterSellerRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SellerView'
  /v1/marketplace/sellers/{sellerId}/suspend:
    post:
      tags:
        - Marketplace
      operationId: suspend
      parameters:
        - name: sellerId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SellerView'
  /v1/marketplace/sellers/{sellerId}/activate:
    post:
      tags:
        - Marketplace
      operationId: commerce_activate
      parameters:
        - name: sellerId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SellerView'
  /v1/lending/offers:
    get:
      tags:
        - Lending
      operationId: listOffers
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OfferView'
    post:
      tags:
        - Lending
      operationId: requestOffer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OfferRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/OfferView'
  /v1/lending/offers/{offerId}/accept:
    post:
      tags:
        - Lending
      operationId: accept
      parameters:
        - name: offerId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/LoanView'
  /v1/lending/loans/{loanId}/repayments:
    post:
      tags:
        - Lending
      operationId: applyRepayment
      parameters:
        - name: loanId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RepaymentRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/LoanView'
  /v1/insurance/policies:
    get:
      tags:
        - Insurance
      operationId: commerce_list
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PolicySummary'
    post:
      tags:
        - Insurance
      operationId: issue
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IssuePolicyRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PolicyView'
  /v1/insurance/policies/{policyId}/claims:
    post:
      tags:
        - Insurance
      operationId: fileClaim
      parameters:
        - name: policyId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FileClaimRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ClaimView'
  /v1/insurance/policies/{policyId}/cancel:
    post:
      tags:
        - Insurance
      operationId: cancel_1
      parameters:
        - name: policyId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PolicyView'
  /v1/insurance/claims/{claimId}/reject:
    post:
      tags:
        - Insurance
      operationId: commerce_reject
      parameters:
        - name: claimId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RejectRequest'
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ClaimView'
  /v1/insurance/claims/{claimId}/approve:
    post:
      tags:
        - Insurance
      operationId: commerce_approve
      parameters:
        - name: claimId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ClaimView'
  /v1/esg/offsets:
    post:
      tags:
        - ESG / Carbon
      operationId: offset
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OffsetRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/OffsetView'
  /v1/esg/footprints:
    get:
      tags:
        - ESG / Carbon
      operationId: commerce_list_1
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RecordView'
    post:
      tags:
        - ESG / Carbon
      operationId: commerce_record
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FootprintRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/RecordView'
  /v1/escrow:
    get:
      tags:
        - Escrow
      operationId: commerce_list_2
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EscrowAgreementSummary'
    post:
      tags:
        - Escrow
      operationId: hold
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HoldRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/EscrowAgreementView'
  /v1/escrow/{escrowId}/release:
    post:
      tags:
        - Escrow
      operationId: release
      parameters:
        - name: escrowId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MovementRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/EscrowAgreementView'
  /v1/escrow/{escrowId}/refund:
    post:
      tags:
        - Escrow
      operationId: commerce_refund
      parameters:
        - name: escrowId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MovementRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/EscrowAgreementView'
  /v1/crossborder/outbound:
    get:
      tags:
        - Cross-Border — Outbound
      operationId: commerce_list_3
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OutboundRemittanceView'
    post:
      tags:
        - Cross-Border — Outbound
      operationId: commerce_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRemittanceRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/OutboundRemittanceView'
  /v1/crossborder/outbound/{remittanceId}/mark-remitted:
    post:
      tags:
        - Cross-Border — Outbound
      operationId: markRemitted
      parameters:
        - name: remittanceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MarkRemittedRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/OutboundRemittanceView'
  /v1/crossborder/outbound/{remittanceId}/mark-failed:
    post:
      tags:
        - Cross-Border — Outbound
      operationId: markFailed
      parameters:
        - name: remittanceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MarkFailedRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/OutboundRemittanceView'
  /v1/crossborder/outbound/quote:
    post:
      tags:
        - Cross-Border — Outbound
      operationId: quote
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QuoteRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/QuoteView'
  /v1/crossborder/export-invoices:
    get:
      tags:
        - Cross-Border
      operationId: commerce_list_4
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/InvoiceSummary'
    post:
      tags:
        - Cross-Border
      operationId: commerce_create_1
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateExportInvoiceRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CrossBorderInvoiceView'
  /v1/crossborder/export-invoices/{exportInvoiceId}/remittances:
    post:
      tags:
        - Cross-Border
      operationId: recordRemittance
      parameters:
        - name: exportInvoiceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RemittanceRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CrossBorderRemittanceView'
  /v1/cards:
    get:
      tags:
        - Cards
      operationId: list_5
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CardSummary'
    post:
      tags:
        - Cards
      operationId: issue_1
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CardIssueRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CardView'
  /v1/cards/{cardId}/unfreeze:
    post:
      tags:
        - Cards
      operationId: unfreeze
      parameters:
        - name: cardId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CardView'
  /v1/cards/{cardId}/spend:
    post:
      tags:
        - Cards
      operationId: commerce_spend
      parameters:
        - name: cardId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SpendRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CardView'
  /v1/cards/{cardId}/load:
    post:
      tags:
        - Cards
      operationId: load
      parameters:
        - name: cardId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CardAmountRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CardView'
  /v1/cards/{cardId}/freeze:
    post:
      tags:
        - Cards
      operationId: freeze
      parameters:
        - name: cardId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CardView'
  /v1/cards/{cardId}/close:
    post:
      tags:
        - Cards
      operationId: commerce_close
      parameters:
        - name: cardId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CardView'
  /v1/bnpl/agreements:
    get:
      tags:
        - BNPL
      operationId: list_6
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BnplAgreementSummary'
    post:
      tags:
        - BNPL
      operationId: commerce_create_2
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAgreementRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BnplAgreementView'
  /v1/bnpl/agreements/{agreementId}/installments/{seq}/pay:
    post:
      tags:
        - BNPL
      operationId: commerce_pay
      parameters:
        - name: agreementId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: seq
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BnplAgreementView'
  /v1/ondc/orders/{orderId}:
    get:
      tags:
        - ONDC
      operationId: getOrder
      parameters:
        - name: orderId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/OrderView'
  /v1/marketplace/splits/{splitId}:
    get:
      tags:
        - Marketplace
      operationId: getSplit
      parameters:
        - name: splitId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SplitView'
  /v1/lending/loans:
    get:
      tags:
        - Lending
      operationId: listLoans
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LoanSummary'
  /v1/lending/loans/{loanId}:
    get:
      tags:
        - Lending
      operationId: getLoan
      parameters:
        - name: loanId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/LoanView'
  /v1/insurance/policies/{policyId}:
    get:
      tags:
        - Insurance
      operationId: commerce_get
      parameters:
        - name: policyId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PolicyView'
  /v1/esg/summary:
    get:
      tags:
        - ESG / Carbon
      operationId: commerce_summary
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FootprintSummary'
  /v1/escrow/{escrowId}:
    get:
      tags:
        - Escrow
      operationId: commerce_get_1
      parameters:
        - name: escrowId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/EscrowAgreementView'
  /v1/crossborder/outbound/{remittanceId}:
    get:
      tags:
        - Cross-Border — Outbound
      operationId: commerce_get_2
      parameters:
        - name: remittanceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/RemittanceDetailView'
  /v1/crossborder/export-invoices/{exportInvoiceId}:
    get:
      tags:
        - Cross-Border
      operationId: commerce_get_3
      parameters:
        - name: exportInvoiceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CrossBorderInvoiceView'
  /v1/cards/{cardId}:
    get:
      tags:
        - Cards
      operationId: commerce_get_4
      parameters:
        - name: cardId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CardView'
  /v1/bnpl/agreements/{agreementId}:
    get:
      tags:
        - BNPL
      operationId: commerce_get_5
      parameters:
        - name: agreementId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BnplAgreementView'
  /v1/merchants/kyb/vcip:
    get:
      tags:
        - KYB V-CIP
      operationId: risk_list
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SessionView'
    post:
      tags:
        - KYB V-CIP
      operationId: schedule
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScheduleRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SessionView'
  /v1/merchants/kyb/vcip/{sessionId}/start:
    post:
      tags:
        - KYB V-CIP
      operationId: start
      parameters:
        - name: sessionId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SessionView'
  /v1/merchants/kyb/vcip/{sessionId}/fail:
    post:
      tags:
        - KYB V-CIP
      operationId: fail
      parameters:
        - name: sessionId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FailRequest'
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SessionView'
  /v1/merchants/kyb/vcip/{sessionId}/complete:
    post:
      tags:
        - KYB V-CIP
      operationId: complete
      parameters:
        - name: sessionId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompleteRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SessionView'
  /v1/merchants/kyb/ubo:
    get:
      tags:
        - KYB UBO
      operationId: risk_list_1
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OwnerView'
    post:
      tags:
        - KYB UBO
      operationId: add
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/OwnerView'
  /v1/merchants/kyb/pan:
    post:
      tags:
        - KYB
      operationId: submitPan
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/KybPanRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/KybView'
  /v1/merchants/kyb/gstin:
    post:
      tags:
        - KYB
      operationId: submitGstin
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GstinRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/KybView'
  /v1/merchants/kyb/bank:
    post:
      tags:
        - KYB
      operationId: submitBank
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BankRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/KybView'
  /v1/kyc/customers:
    get:
      tags:
        - Customer KYC
      operationId: risk_list_2
      responses:
        '200':
          description: OK
[...]
